@use 'utilities' as *;

.demo-checkout-payment-summary {
	font-size: $small-font-size;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-areas:
		'       title         edit'
		'method-title method-title'
		' card-number  card-number'
		'  expiration   expiration';

	@include breakpoint(big-tablet) {
		grid-template-columns: 1fr;
		grid-template-areas:
			'       title'
			'method-title'
			' card-number'
			'  expiration'
			'        edit';
	}

	&__title {
		grid-area: title;
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__method-title {
		font-weight: bold;
		grid-area: method-title;
	}

	&__cardnumber {
		grid-area: card-number;
	}

	&__expiration {
		grid-area: expiration;
	}

	&__edit {
		display: block;
		grid-area: edit;
		font-size: 0.875rem;
		text-decoration: underline;
		justify-self: end;
		@include clickable();

		@include breakpoint(big-tablet) {
			justify-self: start;
			margin-top: 15px;
		}
	}
}
