@import 'daff-util';

.address-form {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;

  @include breakpoint(big-tablet) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "firstname firstname   firstname    lastname    lastname    lastname"
      "   street    street      street      street      street      street"
      "     city      city       state       state    postcode    postcode"
      "telephone telephone   telephone free-space1 free-space1 free-space1";

    &__first-name {
      grid-area: firstname;
    }

    &__last-name {
      grid-area: lastname;
    }

    &__street {
      grid-area: street;
    }

    &__city {
      grid-area: city;
    }

    &__state {
      grid-area: state;
    }

    &__postcode {
      grid-area: postcode;
    }

    &__telephone {
      grid-area: telephone;
    }

    &__free-space1 {
      grid-area: free-space1;
    }
  }

  & select {
    margin: 0;
  }
}
