<daff-article>
  <h1 daffArticleTitle>Button</h1>
  <p daffArticleLead>
    The button is used for making actions apparent to the end-user. It can be used to navigate users to a different page or to perform an action. Buttons can contain text, icons, or both.
  </p>

  <h2>About</h2>
  <p>
    Native <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> elements are always used in order to provide an easy, accessible experience for users.
  </p>
  <ul>
    <li><code>&lt;button&gt;</code> should be used when a clickable action is performed within the same page.</li>
    <li><code>&lt;a&gt;</code> should be used for interactions that will navigate users to a new page or to a different target on the same page.</li>
  </ul>

  <h3>Basic Button</h3>
  <design-land-example-viewer example="basic-button"></design-land-example-viewer>
  
  <h3>Stroked Button</h3>
  <design-land-example-viewer example="stroked-button"></design-land-example-viewer>
  
  <h3>Raised Button</h3>
  <design-land-example-viewer example="raised-button"></design-land-example-viewer>
  
  <h3>Icon Button</h3>
  <design-land-example-viewer example="icon-button"></design-land-example-viewer>
  
  <h3>Underline Button</h3>
  <design-land-example-viewer example="underline-button"></design-land-example-viewer>

  <h3>Sizes</h3>
  <p>The size of a button can be updated by using the <code>size</code> property. The size of all the button variants will default to <code>md</code> if no size is defined. This can be updated to the three sizes buttons support.</p>
  <p>Supported Sizes: <code>sm | md | lg</code></p>

  <design-land-example-viewer example="sizeable-button"></design-land-example-viewer>
</daff-article>
