<h1>Daff Button</h1>

<h2>Basic Button</h2>

<h3>Action Button</h3>
<daff-button-set>
  <button daff-button color="primary">Primary</button>
  <button daff-button color="accent">Accent</button>
  <button daff-button color="black">Black</button>
  <button daff-button color="white">White</button>
  <button daff-button disabled>Disabled</button>
</daff-button-set>

<h3>Link Button</h3>
<daff-button-set>
  <a href="#" daff-button color="primary">Primary</a>
  <a href="#" daff-button color="accent">Accent</a>
  <a href="#" daff-button color="black">Black</a>
  <a href="#" daff-button color="white">White</a>
  <a href="#" daff-button disabled>Disabled</a>
</daff-button-set>

<h2>Stroked Button</h2>

<h3>Action Button</h3>
<daff-button-set>
  <button daff-stroked-button color="primary">Primary</button>
  <button daff-stroked-button color="accent">Accent</button>
  <button daff-stroked-button color="black">Black</button>
  <button daff-stroked-button color="white">White</button>
  <button daff-stroked-button disabled>Disabled</button>
</daff-button-set>

<h3>Link Button</h3>
<daff-button-set>
  <a href="#" daff-stroked-button color="primary">Primary</a>
  <a href="#" daff-stroked-button color="accent">Accent</a>
  <a href="#" daff-stroked-button color="black">Black</a>
  <a href="#" daff-stroked-button color="white">White</a>
  <a href="#" daff-stroked-button disabled>Disabled</a>
</daff-button-set>

<h2>Raised Button</h2>

<h3>Action Button</h3>
<daff-button-set>
  <button daff-raised-button color="primary">Primary</button>
  <button daff-raised-button color="accent">Accent</button>
  <button daff-raised-button color="black">Black</button>
  <button daff-raised-button color="white">White</button>
  <button daff-raised-button disabled>Disabled</button>
</daff-button-set>

<h3>Link Button</h3>
<daff-button-set>
  <a href="#" daff-raised-button color="primary">Primary</a>
  <a href="#" daff-raised-button color="accent">Accent</a>
  <a href="#" daff-raised-button color="black">Black</a>
  <a href="#" daff-raised-button color="white">White</a>
  <a href="#" daff-raised-button disabled>Disabled</a>
</daff-button-set>

<h2>Icon Button</h2>

<h3>Action Button</h3>
<daff-button-set>
  <button daff-icon-button color="primary"><i class="fas fa-plus"></i></button>
  <button daff-icon-button color="accent"><i class="fas fa-plus"></i></button>
  <button daff-icon-button color="black"><i class="fas fa-plus"></i></button>
  <button daff-icon-button color="white"><i class="fas fa-plus"></i></button>
  <button daff-icon-button disabled><i class="fas fa-plus"></i></button>
</daff-button-set>

<h3>Link Button</h3>
<daff-button-set>
  <a href="#" daff-icon-button color="primary"><i class="fas fa-plus"></i></a>
  <a href="#" daff-icon-button color="accent"><i class="fas fa-plus"></i></a>
  <a href="#" daff-icon-button color="black"><i class="fas fa-plus"></i></a>
  <a href="#" daff-icon-button color="white"><i class="fas fa-plus"></i></a>
  <a href="#" daff-icon-button disabled><i class="fas fa-plus"></i></a>
</daff-button-set>