<daff-article>
  <h1 daffArticleTitle>Button</h1>
  <p daffArticleLead>
    The button is used for making actions apparent to the end-user. It can be used to navigate users to a different page or to perform an action. Buttons can contain text, icons, or both.
  </p>

  <h2>About</h2>
  <p>
    Native <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> elements are always used in order to provide an easy, accessible experience for users.
  </p>
  <ul>
    <li><code>&lt;button&gt;</code> should be used when a clickable action is performed within the same page.</li>
    <li><code>&lt;a&gt;</code> should be used for interactions that will navigate users to a new page or to a different target on the same page.</li>
  </ul>

  <h3>Basic Button</h3>
  <daff-button-set>
    <button daff-button>Default</button>
    <button daff-button color="primary">Primary</button>
    <button daff-button color="secondary">Secondary</button>
    <button daff-button color="tertiary">Tertiary</button>
    <button daff-button color="black">Black</button>
    <button daff-button color="white">White</button>
    <button daff-button><fa-icon [icon]="faChevronLeft" daffPrefix></fa-icon>Button</button>
    <button daff-button><fa-icon [icon]="faChevronRight" daffSuffix></fa-icon>Button</button>
    <a href="#" daff-button>Link</a>
    <button daff-button disabled>Disabled</button>
  </daff-button-set>
  
  <h3>Stroked Button</h3>
  <daff-button-set>
    <button daff-stroked-button>Default</button>
    <button daff-stroked-button color="primary">Primary</button>
    <button daff-stroked-button color="secondary">Secondary</button>
    <button daff-stroked-button color="tertiary">Tertiary</button>
    <button daff-stroked-button color="black">Black</button>
    <button daff-stroked-button color="white">White</button>
    <button daff-stroked-button><fa-icon [icon]="faChevronLeft" daffPrefix></fa-icon>Button</button>
    <button daff-stroked-button><fa-icon [icon]="faChevronRight" daffSuffix></fa-icon>Button</button>
    <a href="#" daff-stroked-button>Link</a>
    <button daff-stroked-button disabled>Disabled</button>
  </daff-button-set>
  
  <h3>Raised Button</h3>
  <daff-button-set>
    <button daff-raised-button>Default</button>
    <button daff-raised-button color="primary">Primary</button>
    <button daff-raised-button color="secondary">Secondary</button>
    <button daff-raised-button color="tertiary">Tertiary</button>
    <button daff-raised-button color="black">Black</button>
    <button daff-raised-button color="white">White</button>
    <button daff-raised-button><fa-icon [icon]="faChevronLeft" daffPrefix></fa-icon>Button</button>
    <button daff-raised-button><fa-icon [icon]="faChevronRight" daffSuffix></fa-icon>Button</button>
    <a href="#" daff-raised-button>Link</a>
    <button daff-raised-button disabled>Disabled</button>
  </daff-button-set>
  
  <h3>Icon Button</h3>
  <daff-button-set>
    <button daff-icon-button><fa-icon [icon]="faPlus"></fa-icon></button>
    <button daff-icon-button color="primary"><fa-icon [icon]="faPlus"></fa-icon></button>
    <button daff-icon-button color="secondary"><fa-icon [icon]="faPlus"></fa-icon></button>
    <button daff-icon-button color="tertiary"><fa-icon [icon]="faPlus"></fa-icon></button>
    <button daff-icon-button color="black"><fa-icon [icon]="faPlus"></fa-icon></button>
    <button daff-icon-button color="white"><fa-icon [icon]="faPlus"></fa-icon></button>
    <button daff-icon-button disabled><fa-icon [icon]="faPlus"></fa-icon></button>
  </daff-button-set>
  
  <h3>Underline Button</h3>
  <daff-button-set>
    <button daff-underline-button>Default</button>
    <button daff-underline-button color="primary">Primary</button>
    <button daff-underline-button color="secondary">Secondary</button>
    <button daff-underline-button color="tertiary">Tertiary</button>
    <button daff-underline-button color="black">Black</button>
    <button daff-underline-button color="white">White</button>
    <button daff-underline-button><fa-icon [icon]="faChevronLeft" daffPrefix></fa-icon>Button</button>
    <button daff-underline-button><fa-icon [icon]="faChevronRight" daffSuffix></fa-icon>Button</button>
    <a href="#" daff-underline-button>Link</a>
    <button daff-underline-button disabled>Disabled</button>
  </daff-button-set>

  <h3>Sizes</h3>
  <p>The size of a button can be updated by using the <code>size</code> property. The size of all the button variants will default to <code>md</code> if no size is defined. This can be updated to the three sizes buttons support.</p>
  <p>Supported Sizes: <code>sm | md | lg</code></p>

  <h4>Small Buttons</h4>
  <daff-button-set>
    <button daff-button size="sm">Small Button</button>
    <button daff-raised-button size="sm">Small Raised Button</button>
    <button daff-stroked-button size="sm">Small Stroked Button</button>
  </daff-button-set>
  <button daff-underline-button size="sm">Small Underline Button</button>.
  <button daff-icon-button size="sm"><fa-icon [icon]="faPlus"></fa-icon></button>

  <h4>Medium Buttons (Default)</h4>
  <daff-button-set>
    <button daff-button size="md">Medium Button</button>
    <button daff-raised-button size="md">Medium Raised Button</button>
    <button daff-stroked-button size="md">Medium Stroked Button</button>
  </daff-button-set>
  <button daff-underline-button size="md">Medium Underline Button</button>
  <button daff-icon-button size="md"><fa-icon [icon]="faPlus"></fa-icon></button>

  <h4>Large Buttons</h4>
  <daff-button-set>
    <button daff-button size="lg">Large Button</button>
    <button daff-raised-button size="lg">Large Raised Button</button>
    <button daff-stroked-button size="lg">Large Stroked Button</button>
  </daff-button-set>
  <button daff-underline-button size="lg">Large Underline Button</button>
  <button daff-icon-button size="lg"><fa-icon [icon]="faPlus"></fa-icon></button>
</daff-article>
