@import '~scss/mixins/media';
@import '~scss/mixins/general';
@import '~scss/variables';
@import '~scss/styles';

.product-card {
  text-align: center;
  border: none;

  &__detail {
    padding: 15px;
  }

  &__brand {
    @include embolden();
    text-transform: uppercase;
  }

  &__options {
    margin-top: 15px;
    color: $dark-gray;
    font-size: 0.875rem;
  }
}