<daff-article>
	<h1 daffArticleTitle>Decorative Icon</h1>
	<p daffArticleLead>Decorative icons are used for visual or branding reinforcement. Removing a decorative icon from a page or component should not alter a user's ability to use or understand it.</p>

	<h3>Theming</h3>
	<design-land-example-viewer-container example="decorative-icon-theming"></design-land-example-viewer-container>

	<h3>Accessibility</h3>
	<p>Decorative icons have no semantic meaning and should not be used with a <code>&lt;button&gt;</code> element to prevent it from becoming a focusable, interactive element. The <code>aria-hidden=true</code> attribute is added by default to reinforce that they are hidden from assistive technologies.</p>
</daff-article>