@use 'utilities' as *;

.demo-product-card {
	border: none;
	cursor: pointer;

	&__details {
		padding: 15px 15px 0;
		font-size: $small-font-size;
	}

	&__brand {
		font-weight: bold;
		text-transform: uppercase;
	}

	&__brand, &__name, &__price {
		margin: 0;
		padding: 0;
	}

	&__image {
		display: block;
		max-width: 100%;
	}
}
