<div product-container #ProductContainer="ProductContainer" [selectedProductId]="productId" class="product-container">
  <demo-product [product]="ProductContainer.product$ | async" [qty]="ProductContainer.qty$ | async" (updateQty)="ProductContainer.updateQty($event)" *ngIf="!(ProductContainer.loading$ | async)">
    <div cart-container #CartContainer="CartContainer">
      <demo-add-to-cart (addToCart)="CartContainer.addToCart($event)" [additive]="ProductContainer.product$ | async"  [qty]="ProductContainer.qty$ | async"></demo-add-to-cart>
    </div>
  </demo-product>
  <daff-loading-icon *ngIf="(ProductContainer.loading$ | async)"></daff-loading-icon>
  <demo-add-to-cart-notification></demo-add-to-cart-notification>
</div>
