@use 'sass:map';
@use 'theme' as daff-theme;

@mixin code-preview-theme($theme) {
	$neutral: daff-theme.daff-map-get($theme, 'core', 'neutral');
	$base: daff-theme.daff-map-get($theme, 'core', 'base');
	$primary: daff-theme.daff-map-get(daff-theme.$theme, primary);
	$font-color: daff-theme.daff-map-get($theme, 'core', 'font-color');
	$border: 1px solid daff-theme.daff-illuminate($base, $neutral, 2);

	.design-land-code-preview {
		&__content {
			border: $border;
			border-bottom: 0;
		}

		&__tab-wrapper {
			border-left: $border;
			border-right: $border;
		}

		&__tab {
			color: $font-color;

			&.selected {
				border-bottom: 2px solid daff-theme.daff-color($primary);
			}
		}
	}
}
