@import 'utilities';

:host {
	display: block;
}

.design-land-code-preview {
	&__content {
		display: block;
    padding: 48px 24px;
		border-radius: 8px 8px 0 0;
	}

	&__code-block {
		margin-top: 0;
		border-radius: 0 0 8px 8px;
	}
}
