@use 'sass:map';
@use 'theme' as daff-theme;

@mixin code-preview-theme($theme) {
	$gray: daff-theme.daff-map-deep-get($theme, 'core.gray');
	$base: daff-theme.daff-map-deep-get($theme, 'core.base');

	.design-land-code-preview {
		&__content {
			border: 1px solid rgba(daff-theme.daff-illuminate($base, $gray, 2), 0.6);
			border-bottom: 0;
		}
	}
}