@use 'sass:map';
@use 'theme' as daff-theme;

// stylelint-disable selector-class-pattern
@mixin code-preview-theme($theme) {
	$neutral: daff-theme.daff-get-palette($theme, neutral);
	$base-contrast: daff-theme.daff-get-base-color($theme, base-contrast);
	$primary: daff-theme.daff-get-palette($theme, primary);
	$mode: daff-theme.daff-get-theme-mode($theme);
	$border-light: 1px solid daff-theme.daff-color($neutral, 20);
	$border-dark: 1px solid daff-theme.daff-color($neutral, 80);

	.design-land-code-preview {
		@include daff-theme.light($mode) {
			&__content {
				border: $border-light;
				border-bottom: 0;
			}

			&__tab-wrapper {
				border-left: $border-light;
				border-right: $border-light;
			}
		}

		@include daff-theme.dark($mode) {
			&__content {
				border: $border-dark;
				border-bottom: 0;
			}

			&__tab-wrapper {
				border-left: $border-dark;
				border-right: $border-dark;
			}
		}

		&__tab {
			color: $base-contrast;

			&.selected {
				border-bottom: 2px solid daff-theme.daff-color($primary);
			}
		}
	}
}
