@use 'utilities' as daff;

:host {
	$root: '.design-land-code-preview';
	display: block;
	margin: 1.5rem 0;

	&.hide-content {
		#{$root}__content {
			display: none;
		}

		#{$root}__tab-wrapper {
			border: none;
		}
	}

}

.design-land-code-preview {
	display: block;
	margin: 1.5rem 0;
	
	&__content {
		display: block;
    padding: 1rem;

		@include daff.breakpoint(mobile) {
			padding: 2rem;
		}
	}

	&__code-block {
		margin: 0;
		border-radius: 0;
	}

	&__tab {
		@include daff.clickable();
		appearance: none;
		border: none;
		background: none;
		font-size: 0.875rem;
		line-height: 1rem;
		font-weight: 500;
		padding: 12px 16px;
		text-transform: uppercase;
	}
}
