@use 'utilities' as *;

.demo-not-found {
	padding-top: 50px;

	@include breakpoint(big-tablet) {
		padding: 50px 100px 0;
	}

	&__text {
		font-weight: bold;
		margin-bottom: 50px;
		text-align: center;
		text-transform: uppercase;
	}
}
