@use 'utilities' as daff;

:host {
	display: block;
	padding: 48px 24px;

	@include daff.breakpoint(tablet) {
		padding: 48px;
	}
}

.daffio-api-list-page {
	&__title {
		margin-bottom: 48px;
		@include daff.headline-xl();
	}
}
