@use 'sass:map';
@use 'theme' as *;

@mixin daffio-marketing-sidebar-footer-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$mode: daff-get-theme-mode($theme);

	.daffio-marketing-sidebar-footer {
		@include light($mode) {
			background: daff-color($neutral, 20);

			&:hover {
				background: daff-color($neutral, 30);
			}
		}

		@include dark($mode) {
			background: daff-color($neutral, 90);

			&:hover {
				background: daff-color($neutral, 80);
			}
		}
	}
}
