<daff-callout textAlignment="center" color="theme">
  <daff-container size="md">
    <div daffCalloutTitle>
      A new level of quality to help scale your business
    </div>
    <p daffCalloutSubtitle>
      Progressive Web Apps are the future to offering <strong>fast, integrated, reliable, and engaging</strong> mobile shopping experiences.
    </p>
    <div daffCalloutBody class="daffio-why-pwa-overview__card-grid">
      <daff-card>
        <fa-icon daffCardIcon [icon]="faRocket"></fa-icon>
        <h4 daffCardTitle>
          Fast
        </h4>
        <div daffCardContent>
          <p>PWAs are light. They exponentially improve loading time, creating a smooth native performance for users.</p>
        </div>
      </daff-card>
      <daff-card>
        <fa-icon daffCardIcon [icon]="faLink"></fa-icon>
        <h4 daffCardTitle>
          Integrated
        </h4>
        <div daffCardContent>
          <p>PWAs integrate app-like user experiences and interactions while maintaining full website functionalities.</p>
        </div>
      </daff-card>
      <daff-card>
        <fa-icon daffCardIcon [icon]="faShieldAlt"></fa-icon>
        <h4 daffCardTitle>
          Reliable
        </h4>
        <div daffCardContent>
          <p>Service workers help PWAs cache key assets and data on devices, allowing applications to load and perform seamlessly with no connectivity.</p>
        </div>
      </daff-card>
      <daff-card>
        <fa-icon daffCardIcon [icon]="faComments"></fa-icon>
        <h4 daffCardTitle>
          Engaging
        </h4>
        <div daffCardContent>
          <p>The ability to send push notifications drives engagement and increases conversion rates by keeping users notified and up-to-date.</p>
        </div>
      </daff-card>
    </div>
  </daff-container>
</daff-callout>