// stylelint-disable selector-class-pattern
.daffio-docs-design-nav-menu {
	&__icon {
		content: '';
		display: inline-block;
		border-right: 0.125rem solid currentColor;
		border-bottom: 0.125rem solid currentColor;
		width: 0.5rem;
		height: 0.5rem;
		transform: translateY(0%) rotate(45deg);
		transition: transform 150ms;

		&.open {
			transform: translateY(40%) rotate(225deg);
		}
	}
}
