<daff-container size="md">
  <div class="full-footer__grid">
    <a routerLink="/" class="full-footer__logo">
      <daffio-logo type="icon"></daffio-logo>
    </a>
    <daff-list type="link" class="full-footer__links" *ngFor="let linkset of links">
      <h3 daffListSubheader>{{ linkset.title }}</h3>
      <daff-list-item *ngFor="let link of linkset.links">
        <a daff-link routerLink="{{ link.path }}">{{ link.title }}</a>
      </daff-list-item>
    </daff-list>
    <div class="full-footer__newsletter">
      <daffio-newsletter></daffio-newsletter>
    </div>
  </div>
</daff-container>