<div class="demo-cart-item">
  <img class="demo-cart-item__image" src="{{item.image.url}}" (click)="redirectToProduct()">
  <div class="demo-cart-item__description">
    <div class="demo-cart-item__name" (click)="redirectToProduct()">{{item.name}}</div>
    <div class="demo-cart-item__price">${{item.price}}</div>
    <div class="demo-cart-item__attribute">
      <span class="demo-cart-item__attribute-label">Color: </span><span>White (HC)</span><br>
    </div>
    <div class="demo-cart-item__size">
      <span class="demo-cart-item__attribute-label">Size: </span><span>5 (HC)</span><br>
    </div>
    <div class="demo-cart-item__qty-wrapper">
      <span class="demo-cart-item__mobile-qty">Qty: </span>
      <span class="demo-cart-item__mobile-qty">{{item.qty}}</span>
      <span class="demo-cart-item__desktop-qty">
        <daff-form-field>
          <daff-quantity-field
            [formControl]="quantity"
            name="quantity"
            [id]="quantityId">
          </daff-quantity-field>
        </daff-form-field>
      </span>
    </div>
    <div class="demo-cart-item__change">
      <a>Edit</a>
      <a class="demo-cart-item__remove" (click)="removeItem()">Remove</a>
    </div>
  </div>
</div>
