# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# $$               Daffodil Code Owners                 $$
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
#  
# The configuration for Code Owners for graycoreio/daffodil.
#
#  For more info see: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  Concepts
# ================================================
#
# A CodeOwner should only review what they are comfortable reviewing. If you're not comfortable, say something.
# It is a CodeOwners responsibility to only accept the changes that they understand and deem necessary.
# The CodeOwners have final say on whether or not code is accepted.
# If multiple CodeOwners are listed, ALL code owners must approve the PR prior to merge.
# CodeOwners work in conjunction with Github's "Number of Required Approvals (1)" requirement.



# ================================================
#  GitHub username registry
# ================================================

#  damienwebdev - Damien Retzinger
#  xelaint - Elain Tsai
#  lderrickable - Luke Derrick
#  Nolan-Arnold - Nolan Arnold



######################################################################################################
#
#  Team structure and memberships
#  ------------------------------
#
#
#  Any changes to team structure or memberships must first be made in this file and only then
#  implemented in the GitHub UI.
#######################################################################################################


# ===========================================================
#  @graycore/daff-design
# ===========================================================
#
#   - damienwebdev
#   - xelaint
#   - Nolan-Arnold

# ===========================================================
#  @graycore/daff-core
# ===========================================================
#
#   - lderrickable
#   - damienwebdev
#   - Nolan-Arnold

# ===========================================================
#  @graycore/daff-marketing
# ===========================================================
#
#   - xelaint
#   - damienwebdev

# ===========================================================
#  @graycore/daff-dev-infra
# ===========================================================
#
#   - lderrickable
#   - damienwebdev

# ===========================================================
#  @graycore/daff-docs
# ===========================================================
#
#   - lderrickable
#   - xelaint
#   - damienwebdev
#   - Nolan-Arnold


######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================

* @damienwebdev


# ================================================
#  Application Owners
# ================================================
apps/**                                                         @graycoreio/daff-core
libs/**                                                         @graycoreio/daff-core

# ================================================
#  @daffodil/demo
# ================================================
/apps/demo/**                                                   @graycoreio/daff-docs @graycoreio/daff-marketing
/apps/demo-e2e/**                                               @graycoreio/daff-docs @graycoreio/daff-marketing

# ================================================
#  @daffodil/daffio
# ================================================
/apps/daffio/**                                                 @graycoreio/daff-docs @graycoreio/daff-marketing
/apps/daffio-e2e/**                                             @graycoreio/daff-docs

# ================================================
#  @daffodil/design
# ================================================
/apps/design-land/**                                            @graycoreio/daff-design
/apps/design-land-e2e/**                                        @graycoreio/daff-design    
/libs/design/**                                                 @graycoreio/daff-design
/libs/branding/**                                               @graycoreio/daff-marketing @graycoreio/daff-design

# ================================================
#  Docs: Maintainers
# ================================================
/docs/**                                                        @graycoreio/daff-docs

# ================================================
#  Build & CI Owners
# ================================================

/*                                                              @graycoreio/daff-dev-infra
/.github/**                                                     @graycoreio/daff-dev-infra
/build/**                                                       @graycoreio/daff-dev-infra
/.vscode/**                                                     @graycoreio/daff-dev-infra
/tools/**                                                       @graycoreio/daff-dev-infra


# ================================================
#  CODEOWNERS Owners owners ...
# ================================================

/.github/CODEOWNERS                                             @damienwebdev
