<h1>Daff Feature</h1>

<h2>Feature</h2>
<daff-feature>
  <img daffFeatureIcon src="/assets/feature/icon.svg" />
  <p daffFeatureSubheader>Subheader</p>
  <h4 daffFeatureTitle>Title</h4>
  <p daffFeatureSubtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-feature>

<h3>Mode</h3>

<h4>Compact Feature</h4>

<daff-feature mode="compact">
  <img daffFeatureIcon src="/assets/feature/icon.svg" />
  <p daffFeatureSubheader>Subheader</p>
  <h4 daffFeatureTitle>Title</h4>
  <p daffFeatureSubtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-feature>