<daff-media-gallery>
    <daff-image daffMedia  src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia [selected]="true" src="https://cdn.pixabay.com/photo/2018/04/25/14/34/daffodil-3349706_960_720.jpg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
    <daff-image daffMedia src="/assets/card/uber-logo.svg" alt="uber logo" width="300" height="119"></daff-image>
</daff-media-gallery>