<daff-article>
  <h1 daffArticleTitle>Callout</h1>
  <p daffArticleLead><code>DaffCalloutComponent</code> is a versatile component that can be used to easily highlight a piece of content. It supports transclusion of any content and includes predefined <code>tagline</code>, <code>title</code> and <code>subtitle</code> styles.</p>

  <h2>Use Cases</h2>
  <ul>
    <li>It can be used alongside a product list to highlight a set of products.</li>
    <li>It can be used to quickly lay out an accordion.</li>
    <li>It can be used to showcase a set of features.</li>
  </ul>

  <h2>Supported Content Types</h2>
  <p>A <code>&lt;daff-callout&gt;</code> transcludes:</p>
  <ul>
    <li><code>[daffCalloutTagline]</code> - Callout Tagline</li>
    <li><code>[daffCalloutTitle]</code> - Callout Title</li>
    <li><code>[daffCalloutSubtitle]</code> - Callout Subtitle</li>
    <li>Any additional components</li>
  </ul>

  <h2>Theming</h2>
  <p>The default background color of a callout is light gray, but it can be updated to one of the supported colors by using the <code>color</code> property.</p>
  <p>Supported colors: <code>primary | secondary | tertiary | black | white | theme | theme-contrast</code></p>

  <design-land-example-viewer-container example="callout-theming"></design-land-example-viewer-container>

  <h2>Layout</h2>
  <p>The <code>layout</code> property will be deprecated in v1.0.0</p>

  <h2>Size</h2>
  <p>The <code>size</code> property will be deprecated in v1.0.0. The <code>compact</code> value will be replaced by the <code>DaffCompactable</code> interface.</p>

</daff-article>