{
  "singleQuote": true,
  "useTabs": true,
  "trailingComma": "all",
  "overrides": [
    {                                                            
      "files": "libs/{storefront,design}-examples/**/*.html",
      "options": {
        "useTabs": false
      }
    }
  ]
}