{
  "plugins": [
    "stylelint-selector-bem-pattern",
    "@stylistic/stylelint-plugin",
    "./custom-stylelint-plugins/no-direct-cursor-pointer"
  ],
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "daffodil/no-direct-cursor-pointer": true,
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "color-named": "never",
    "function-calc-no-unspaced-operator": true,
    "function-name-case": "lower",
    "function-url-quotes": "always",
    "function-url-scheme-disallowed-list": [
      "data"
    ],
    "length-zero-no-unit": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "unit-allowed-list": [
      "px",
      "%",
      "deg",
      "dvh",
      "ms",
      "rem",
      "em",
      "vh",
      "vw",
      "fr"
    ],
    "shorthand-property-no-redundant-values": true,
    "property-no-unknown": true,
    "no-duplicate-at-import-rules": true,
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": [
          "consecutive-duplicates-with-different-values"
        ]
      }
    ],
    "declaration-block-single-line-max-declarations": 1,
    "declaration-no-important": true,
    "declaration-empty-line-before":"never",
    "block-no-empty": true,
    "no-descending-specificity": null,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": ["ng-deep"]
    }],
    "selector-type-case": "lower",
    "selector-max-id": 0,
    "selector-class-pattern": [
      "(^_?(daff-|demo-|daffio-))|(^(active|horizontal|vertical|left|right|disabled|hidden)$)",
      {
        "resolveNestedSelectors": true
      }
    ],
    "scss/comment-no-loud": true,
    "scss/selector-nest-combinators": "always",
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/dollar-variable-pattern": "^_?[a-z\\-]+$",
    "scss/at-else-empty-line-before": "never",
    "scss/at-if-no-null": null,
    "scss/comment-no-empty": null,
    "@stylistic/block-closing-brace-newline-after": [
      "always", 
      {
        "ignoreAtRules": ["if", "else"]
      }
    ],
    "@stylistic/block-closing-brace-newline-before": "always-multi-line",
    "@stylistic/block-closing-brace-empty-line-before": "never",
    "@stylistic/block-opening-brace-newline-after": "always-multi-line",
    "@stylistic/block-opening-brace-space-before": "always-multi-line",
    "@stylistic/color-hex-case": "lower",
    "@stylistic/declaration-block-semicolon-space-before": "never",
    "@stylistic/declaration-block-semicolon-space-after": "always-single-line",
    "@stylistic/declaration-block-semicolon-newline-before": "never-multi-line",
    "@stylistic/declaration-block-semicolon-newline-after": "always-multi-line",
    "@stylistic/declaration-block-trailing-semicolon": "always",
    "@stylistic/function-comma-space-after": "always-single-line",
    "@stylistic/function-comma-space-before": "never",
    "@stylistic/function-whitespace-after": "always",
    "@stylistic/linebreaks": "unix",
    "@stylistic/max-line-length": 120,
    "@stylistic/no-missing-end-of-source-newline": true,
    "@stylistic/no-eol-whitespace": true,
    "@stylistic/number-leading-zero": "always",
    "@stylistic/number-no-trailing-zeros": true,
    "@stylistic/property-case": "lower",
    "@stylistic/selector-attribute-brackets-space-inside": "never",
    "@stylistic/selector-attribute-operator-space-after": "never",
    "@stylistic/selector-attribute-operator-space-before": "never",
    "@stylistic/selector-combinator-space-after": "always",
    "@stylistic/selector-combinator-space-before": "always",
    "@stylistic/selector-pseudo-class-case": "lower",
    "@stylistic/selector-pseudo-class-parentheses-space-inside": "never",
    "@stylistic/selector-pseudo-element-case": "lower",
    "@stylistic/string-quotes": "single",
    "@stylistic/unit-case": "lower",
    "@stylistic/value-list-comma-space-after": "always-single-line",
    "@stylistic/value-list-comma-space-before": "never"
  }
}