@import 'daffodil-util';

.cart-container {
  display: grid;
  grid-template-areas:
    "cart"
    "cart-summary"
    "proceed-to-checkout";
  margin: 0 15px;

  &__cart-wrapper {
    grid-area: cart;
  }

  &__cart-summary-wrapper {
    grid-area: cart-summary;
  }

  &__proceed-to-checkout-wrapper {
    grid-area: proceed-to-checkout;
  }

  &__loading-icon {
    margin: 20px auto;

    @include breakpoint(large) {
      grid-column: span 3;
    }
  }

  @include breakpoint(large) {
    grid-template-areas:
      "cart                 cart            cart-summary"
      "proceed-to-checkout  takes-up-space  cart-summary";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 50px;
    margin: 50px 120px;

    &__cart-wrapper {
      grid-area: cart;
    }

    &__cart-summary-wrapper {
      grid-area: cart-summary;
    }

    &__proceed-to-checkout-wrapper {
      grid-area: proceed-to-checkout;
    }

    &__takes-up-space {
      grid-area: takes-up-space;
    }
  }

  &__cart-wrapper {
    padding: 25px 0;
    @include section-divider();

    @include breakpoint(large) {
      padding: 0 0 50px 0;
    }
  }
  
  &__cart-summary-wrapper {
    margin: 15px 0;

    @include breakpoint(large) {
      margin: 0;
    }
  }

  &__proceed-to-checkout-wrapper {
    @include breakpoint(large) {
      width: 250px;
    }
  }
}