@mixin daffio-pwa-theme($theme) {
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, secondary);
    $tertiary: map-get($theme, tertiary);
    $base: daff-map-deep-get($theme, 'core.base');
    $base-contrast: daff-map-deep-get($theme, 'core.base-contrast');
    $shadow-color: daff-illuminate($base, $tertiary, 3);

    .hero {
        .highlight {
          color: daff-color($primary);
        }
    }

    .understanding {
        &__feature {
            background: linear-gradient(to bottom right, daff-color($secondary, 30), daff-color($secondary));
            box-shadow:
                0 40px 60px 0 rgba($shadow-color, 0.25);
            color: daff-text-contrast(daff-color($secondary));
            transition: box-shadow 0.2s;

            &:hover {
                box-shadow:
                    0 40px 60px 0 rgba($shadow-color, 0.3);
            }
    }
  }

    .card-grid {
        &__card {
            background: daff-illuminate($base, $daff-gray);
            color: daff-text-contrast(daff-illuminate($base, $daff-gray));
            transition: box-shadow 0.2s;

        &:hover {
            box-shadow:
                0 40px 60px 0 rgba($shadow-color, 0.2);
        }
    }
  }
}
