<daff-hero color="accent" class="hero" size="small">
  <daff-container size="xl">
    <div class="hero__grid">
      <div class="hero__text">
        <h1 daffHeroTitle>
          Build the <span class="highlight">next generation</span> of ecommerce stores.
        </h1>
        <h2 daffHeroSubtitle>
          Progressive Web Apps take advantage of the best features of web and native applications.
        </h2>
      </div>
      <img class="hero__image" src="/assets/why-pwa/pwa-illustration.svg" />
    </div>
  </daff-container>
</daff-hero>

<daff-callout layout="centered" class="features">
  <daff-container size="md">
    <h3 daffCalloutTitle>
      A new level of quality to help scale your business
    </h3>
    <p daffCalloutSubtitle>
      Progressive Web Apps are the future to offering <span class="embolden">fast, integrated, reliable, and engaging</span> mobile shopping experiences.
    </p>
    <div class="features__grid">
      <daff-feature mode="compact">
        <img daffFeatureIcon src="/assets/why-pwa/fast-icon.svg" />
        <h4 daffFeatureTitle>
          Fast
        </h4>
        <p daffFeatureSubtitle>
          PWAs are light. They exponentially improve loading time, creating a smooth native performance for users.
        </p>
      </daff-feature>
      <daff-feature mode="compact">
        <img daffFeatureIcon src="/assets/why-pwa/integrated-icon.svg" />
        <h4 daffFeatureTitle>
          Integrated
        </h4>
        <p daffFeatureSubtitle>
          PWAs integrate app-like user experiences and interactions while maintaining full website functionalities.
        </p>
      </daff-feature>
      <daff-feature mode="compact">
        <img daffFeatureIcon src="/assets/why-pwa/reliable-icon.svg" />
        <h4 daffFeatureTitle>
          Reliable
        </h4>
        <p daffFeatureSubtitle>
          Service workers help PWAs cache key assets and data on devices, allowing applications to load and perform seamlessly with no connectivity.
        </p>
      </daff-feature>
      <daff-feature mode="compact">
        <img daffFeatureIcon src="/assets/why-pwa/engaging-icon.svg" />
        <h4 daffFeatureTitle>
          Engaging
        </h4>
        <p daffFeatureSubtitle>
          The ability to send push notifications drives engagement and increases conversion rates by keeping users notified and up-to-date.
        </p>
      </daff-feature>
    </div>
  </daff-container>
</daff-callout>

<daff-callout layout="centered" class="understanding">
  <daff-container size="md">
    <h3 daffCalloutTitle>
      Understanding PWAs
    </h3>
    <p daffCalloutSubtitle>
      Don't just take our word for it. Check out the statistics and see how Progressive Web Apps have helped your competitors improve their presence on the web.
    </p>
    <div class="understanding__grid">
      <a href="https://developers.google.com/web/showcase/vertical/#retail" target="_blank" rel="noopener noreferrer">
        <daff-feature class="understanding__feature">
          <img daffFeatureIcon src="/assets/why-pwa/book-icon.svg" />
          <p daffFeatureSubheader>Google Developers</p>
          <h4 daffFeatureTitle>
            PWA Case Studies
          </h4>
          <p daffFeatureSubtitle>
            Learn why and how developers have used the web to create amazing web experiences for their users.
          </p>
        </daff-feature>
      </a>
      <a href="https://www.pwastats.com/" target="_blank" rel="noopener noreferrer">
        <daff-feature class="understanding__feature">
          <img daffFeatureIcon src="/assets/why-pwa/stat-icon.svg" />
          <p daffFeatureSubheader>PWA Stats</p>
          <h4 daffFeatureTitle>
            PWA Conversion Stats
          </h4>
          <p daffFeatureSubtitle>
            Review a community-driven list of stats and news focused on Progressive Web Apps.
          </p>
        </daff-feature>
      </a>
    </div>
  </daff-container>
</daff-callout>

<daff-callout layout="centered">
  <daff-container size="md">
    <h3 daffCalloutTitle>
      Who's building PWAs?
    </h3>
    <p daffCalloutSubtitle>
      Brands increasingly utilize Progressive Web Apps to bridge the gap between native apps and websites to create better user experiences.
    </p>
    <div class="card-grid">
      <a href="https://eng.uber.com/m-uber/" target="_blank" rel="noopener noreferrer">
        <daff-card class="card-grid__card">
          <img daffCardImage src="/assets/why-pwa/uber-logo.svg" />
          <h4 daffCardTitle>Uber</h4>
          <p>Uber built their PWA to minimize the client footprint while maintaining the rich experience of the native app.</p>
        </daff-card>
      </a>
      <a href="https://app.starbucks.com/" target="_blank" rel="noopener noreferrer">
        <daff-card class="card-grid__card">
          <img daffCardImage src="/assets/why-pwa/starbucks-logo.svg" />
          <h4 daffCardTitle>Starbucks</h4>
          <p>The Starbucks PWA makes their service universally accessible to both established and emerging markets.</p>
        </daff-card>
      </a>
      <a href="https://lancome-usa.com" target="_blank" rel="noopener noreferrer">
        <daff-card class="card-grid__card">
          <img daffCardImage src="/assets/why-pwa/lancome-logo.svg" />
          <h4 daffCardTitle>Lanc&ocirc;me</h4>
          <p>Lanc&ocirc;me's PWA aimed to drive traffic and re-engagement, which ultimately saw a 17% increase in conversions.</p>
        </daff-card>
      </a>
    </div>
  </daff-container>
</daff-callout>

<daff-callout layout="centered" class="comparison">
  <daff-container size="md">
    <h3 daffCalloutTitle>
      The best solution for ecommerce
    </h3>
    <p daffCalloutSubtitle>
      PWAs are a rapidly developing technology that sees continuous progressive enhancements. It is on the fast-track to become the new standard for mobile-first solutions.
    </p>
    <div class="comparison__grid">
      <daffio-feature-comparison></daffio-feature-comparison>
      <daff-list type="multi-line" class="comparison__list">
        <daff-list-item>
          <h4>Lower cost of production and maintenance</h4>
          <p>Built as webpages, PWAs' cost of development is much lower than native apps. Independent of operating systems or marketplaces, updates are done automatically and PWAs eliminate the need for super-specialized developers.</p>
        </daff-list-item>
        <daff-list-item>
          <h4>Business Independence</h4>
          <p>PWAs are free of marketplace fees and control. There is no 30% commission fee, and businesses are able to deliver features directly to end-users without marketplace interference.</p>
        </daff-list-item>
      </daff-list>
    </div>
  </daff-container>
</daff-callout>