@import 'utilities';

.hero {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @include breakpoint(big-tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text {
    z-index: 2;
    text-align: center;

    @include breakpoint(big-tablet) {
      text-align: left;
    }

    > * {
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(big-tablet) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__image {
    display: block;
    max-width: 400px;
    margin: 0 auto;

    @include breakpoint(big-tablet) {
      width: 100%;
      max-width: none;
      margin: auto;
    }
  }
}

.features {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -25px;
    margin-right: -25px;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(tablet) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.understanding {
    &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    @include breakpoint(big-tablet) {
      grid-template-columns: 1fr 1fr;
    }

    a {
      text-decoration: none;
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  > * {
    text-decoration: none;
  }
}

.comparison {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    align-items: center;

    @include breakpoint(big-tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
}