@import 'utilities';
@import 'theme';

:host {
  $root: '.daffio-header';
  display: block;

  ::ng-deep {
    #{$root}__item {
      display: none;
      color: currentColor;
      font-size: $normal-font-size;
      padding: 0.75rem 1.25rem;
      text-decoration: none;

      @include breakpoint(tablet) {
        display: block;
      }
    }
  }
}

.daffio-header {
  &__navbar {
    justify-content: space-between;
    padding: 0 24px;

    @include breakpoint(mobile) {
      padding: 0 48px;
    }
  
    @include breakpoint(small-laptop) {
      padding: 0;
    }  
  }

  &__theme-toggle {
    margin-right: 0.25rem;

    @include breakpoint(tablet) {
      margin-right: 1rem;
    }
  }

  &__menu-container {
    display: flex;
  }

  &__menu {
    margin: 0;
    padding: 0;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      margin-left: 1rem;
    }
  }

  &__logo {
    width: 128px;

    @include breakpoint(mobile) {
      width: 160px;
    }
  }

  &__bars {
    display: flex;
    margin-right: -0.8125rem;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}