<nav daff-navbar color="theme" class="daffio-header__navbar">
  <div class="daffio-header__left">
    <div class="daffio-header__logo">
      <ng-content select="[daffio-logo]"></ng-content>
    </div>
    <div class="daffio-header__menu">
      <ng-content select="[daffioHeaderItem]"></ng-content>
    </div>
  </div>
  <div class="daffio-header__right">
    <div class="daffio-header__theme-toggle">
      <ng-content select="[theme-toggle]"></ng-content>
    </div>
    <div class="daffio-header__button">
      <ng-content select="[quickstart-button]"></ng-content>
    </div>
    <div class="daffio-header__bars">
      <ng-content select="[sidebar-button]"></ng-content>
    </div>
  </div>
</nav>
