<nav daff-navbar class="daffio-header__navbar" [blurred]="blurred" [elevated]="elevated">
  <div class="daffio-header__left">
    <div class="daffio-header__logo">
      <ng-content select="[daffio-logo]"></ng-content>
    </div>
    <div class="daffio-header__menu">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="daffio-header__desktop-right">
    <ng-content select="[search-desktop]"></ng-content>
    <ng-content select="[theme-toggle-desktop]"></ng-content>
    <ng-content select="[quickstart-button]"></ng-content>
  </div>
  <div class="daffio-header__mobile-right">
    <ng-content select="[search-mobile]"></ng-content>
    <ng-content select="[theme-toggle-mobile]"></ng-content>
    <ng-content select="[sidebar-button]"></ng-content>
  </div>
</nav>
