@import 'utilities';
@import 'theme';

:host {
  $root: '.daffio-header';
  display: block;

  ::ng-deep {
    #{$root}__item {
      color: currentColor;
      font-size: $normal-font-size;
      padding: 0.75rem 1.25rem;
      text-decoration: none;
    }
  }
}

.daffio-header {
  &__navbar {
    justify-content: space-between;
    padding: 0 1.5rem;

    @include breakpoint(tablet) {
      padding: 0;
    }
  }

  &__menu {
    display: none;
    margin: 0;
    padding: 0;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    margin-left: 1rem;
  }

  &__logo {
    width: 128px;

    @include breakpoint(mobile) {
      width: 160px;
    }
  }

  &__bars {
    display: flex;
    margin-right: -0.8125rem;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}