@use 'sass:map';
@use 'theme' as daff-theme;

@mixin daffio-header-theme($theme) {
	$primary: daff-theme.daff-map-get($theme, primary);
	$neutral: daff-theme.daff-map-get($theme, 'core', 'neutral');
	$base: daff-theme.daff-map-get($theme, 'core', 'base');

	.daffio-header {
		// stylelint-disable selector-class-pattern
		&.bordered {
			.daffio-header__navbar {
				border-bottom: 1px solid daff-theme.daff-illuminate($base, $neutral, 2);
			}
		}
	}
	.daffio-header-item {
		&.active {
			color: daff-theme.daff-color($primary);
		}
	}
}
