<daff-hero layout="centered" class="hero">
  <daff-container size="md">
    <h1 daff-hero-title>
      Modern front-end development toolkit for ecommerce PWAs
    </h1>
    <h2 daff-hero-subtitle>
      Build your store with ease and flexibility &mdash; take advantage of the cutting edge with Angular (6+), Redux and Progressive Web Apps.
    </h2>
    <div daff-button-set class="hero__button-set">
      <button daff-button color="primary">See on Github</button>
      <button daff-stroked-button color="black">Learn More</button>
    </div>
  </daff-container>
</daff-hero>

<daff-callout layout="centered" class="pwa">
  <daff-container size="md">
    <h3 daff-callout-title>
      Written with Progressive Web Apps in mind
    </h3>
    <p daff-callout-body>
      Utilize tools like TypeScript, Redux and Angular (6+) to build your eCommerce store.
    </p>
    <div class="grid">
      <img class="grid__image" src="/assets/pwa-screens.png" />
      <daff-list type="multi-line">
        <daff-list-item>
          <h4>Offline Support</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
        </daff-list-item>
        <daff-list-item>
          <h4>App-Like UX & Installation</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
        </daff-list-item>
        <daff-list-item>
          <h4>Progressive Enhancements</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
        </daff-list-item>
        <daff-list-item>
          <h4>Discoverable</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
        </daff-list-item>
      </daff-list>
    </div>
    <div class="pwa__button">
      <button daff-clear-button color="accent">Learn more about Progressive Web Apps <i class="fas fa-arrow-right"></i></button>
    </div>
  </daff-container>
</daff-callout>
    