@use 'utilities' as daff;

.dl-typography {
	&__typescale-card {
		border-radius: 8px;
		padding: 24px;
		margin: 24px 0;
	}

	&__desktop-subheading,
	&__mobile-subheading {
		@include daff.subheading();
		margin: 0 0 8px;
		padding: 0;
	}

	&__desktop-subheading {
		display: none;

		@include daff.breakpoint(tablet) {
			display: block;
		}
	}

	&__mobile-subheading {
		display: block;

		@include daff.breakpoint(tablet) {
			display: none;
		}
	}

	&__headline-xl {
		@include daff.headline-xl();
	}

	&__headline-lg {
		@include daff.headline-lg();
	}

	&__headline-md {
		@include daff.headline-md();
	}

	&__headline-sm {
		@include daff.headline-sm();
	}

	&__body-lg {
		@include daff.body-lg();
	}

	&__body-md {
		@include daff.body-md();
	}

	&__body-sm {
		@include daff.body-sm();
	}

	&__body-xs {
		@include daff.body-xs();
	}

	&__subheading {
		@include daff.subheading();
	}

	&__caption {
		@include daff.caption();
	}
}