@use 'sass:map';
@use 'theme' as daff-theme;

@mixin typography-theme($theme) {
	$gray: daff-theme.daff-map-deep-get($theme, 'core.gray');

	.dl-typography {
		&__typescale-card {
			border: 1px solid daff-theme.daff-color($gray, 20);
		}
		
		&__desktop-subheading,
		&__mobile-subheading {
			color: daff-theme.daff-color($gray);
		}
	}	
}