<h1>Typography</h1>
<p>We use typography to establish hierarchy, organize information, and guide our users through a product or experience.</p>

<h2>Type scale</h2>
<p>The Design Land typopgrahic scale is designed with visual distinctions to help our users better understand content and UI. Text sizes, styles, and layouts were selected to maintain logical hierarchies and drive consistency throughout an application.</p>

<h3>8px system</h3>
<p>Our type scale is based on an 8px system, where the type is largely divisible by 8. For smaller sizes, the system allows for the scale to be divisble by 4.</p>
<p>Font sizes are smaller on mobile and scaled up at the <code>tablet</code> breakpoint.</p>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">56/64px — Headline Extra Large</div>
	<div class="dl-typography__mobile-subheading">40/44px — Headline Extra Large</div>
	<div class="dl-typography__headline-xl">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">48/56px — Headline Large</div>
	<div class="dl-typography__mobile-subheading">32/36px — Headline Large</div>
	<div class="dl-typography__headline-lg">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">32/40px — Headline Medium</div>
	<div class="dl-typography__mobile-subheading">24/28px — Headline Medium</div>
	<div class="dl-typography__headline-md">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">24/32px — Headline Small</div>
	<div class="dl-typography__mobile-subheading">20/24px — Headline Small</div>
	<div class="dl-typography__headline-sm">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">24/32px — Body Large</div>
	<div class="dl-typography__mobile-subheading">24/32px — Body Large</div>
	<div class="dl-typography__body-lg">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">20/28px — Body Medium</div>
	<div class="dl-typography__mobile-subheading">20/28px — Body Medium</div>
	<div class="dl-typography__body-md">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">16/24px — Body Small</div>
	<div class="dl-typography__mobile-subheading">16/24px — Body Small</div>
	<div class="dl-typography__body-sm">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">14/20px — Body Extra Small</div>
	<div class="dl-typography__mobile-subheading">14/20px — Body Extra Small</div>
	<div class="dl-typography__body-xs">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">14/16px — Subheading</div>
	<div class="dl-typography__mobile-subheading">14/16px — Subheading</div>
	<div class="dl-typography__body-subheading">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>

<div class="dl-typography__typescale-card">
	<div class="dl-typography__desktop-subheading">12/16px — Caption</div>
	<div class="dl-typography__mobile-subheading">12/16px — Caption</div>
	<div class="dl-typography__body-caption">
		Build the next generation of ecommerce stores with Daffodil.
	</div>
</div>
