<ng-container *ngIf="level === 0">
  <demo-sidebar-list *ngFor="let child of tree.children" [tree]="child" [level]="nextLevel">
  </demo-sidebar-list>
</ng-container>

<ng-container *ngIf="level > 0">
  <daff-link-set class="demo-sidebar-list__level-{{ level }}">
    <a *ngIf="level === 1" [routerLink]="getNavigationPath(tree.id)" daffLinkSetHeading daff-link-set-item>
      {{ tree.name }}
    </a>
    <ng-container *ngFor="let child of tree.children">
      <ng-container *ngIf="child.children.length > 0">
        <a [routerLink]="getNavigationPath(tree.id)" daffLinkSetSubheading
          daff-link-set-item>{{ child.name }}</a>
        <demo-sidebar-list [tree]="child" [level]="nextLevel"></demo-sidebar-list>
      </ng-container>
      <a *ngIf="child.children.length == 0" [routerLink]="getNavigationPath(child.id)"
        daff-link-set-item>{{ child.name }}</a>
    </ng-container>
  </daff-link-set>
</ng-container>
