<daff-container size="md">
  <div class="demo-newsletter__grid">
    <div class="demo-newsletter__left">
      <h3 class="demo-newsletter__title">
        Gets news and offers from Daffodil!
      </h3>
      <div class="demo-newsletter__body">
        Be the first to know about the latest products, exclusives, and offers!
      </div>
    </div>
    <div>
      @if ((success$ | async) === false && (hasError$ | async) === false && (loading$ | async) === false) {
        <div class="demo-newsletter__right">
          @if (email.invalid && email.dirty) {
            Please enter a valid email
          }
          <input daff-input type="text" class="demo-newsletter__input" placeholder="Email" name="email" [formControl]="email"
            required email />
          <button type="submit" daff-button color="secondary" class="demo-newsletter__button"
          (click)='onNewsletterSubmit()'>Sign Up</button>
        </div>
      }
      @if ((hasError$ | async) && (loading$| async) === false && (success$ | async) === false) {
        <div class="demo-newsletter__retry">
          Error
          <button type="submit" daff-button color="secondary" class="demo-newsletter__button"
          (click)='onNewsletterRetry()'>Retry</button>
        </div>
      }
      @if ((loading$| async)) {
        <div class="demo-newsletter__loading"> Loading
          <button type="cancel" daff-button color="secondary" class="demo-newsletter__button"
          (click)='onNewsletterCancel()'>Cancel</button>
        </div>
      }
      @if (success$ | async) {
        <div class="demo-newsletter__success"> Success </div>
      }
    </div>
  </div>
</daff-container>
