<daff-container size="md">
  <div class="newsletter__grid">
    <div class="newsletter__left">
      <h3 class="newsletter__title">
        Gets news and offers from Daffodil!
      </h3>
      <div class="newsletter__body">
        Be the first to know about the latest products, exclusives, and offers!
      </div>
    </div>
    <div>
      <div class="newsletter__right" *ngIf="!(success$ | async)">
        <input [formControl]='email' daff-input type="text" class="newsletter__input" placeholder="Email" name="email"/>
        <button type="submit" daff-button color="secondary" class="newsletter__button" (click)='onNewsletterSubmit()'>Sign Up</button>
      </div>
      <div *ngIf="success$ | async"> Success </div>
    </div>
  </div>
</daff-container>