<h1>Card</h1>

<h2>Card with Image</h2>
<daff-card>
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h2>Colored Cards</h2>

<h3>Primary</h3>
<daff-card color="primary">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h3>Primary</h3>
<daff-card color="secondary">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h3>Tertiary</h3>
<daff-card color="tertiary">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h3>Black</h3>
<daff-card color="black">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h3>White</h3>
<daff-card color="white">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h3>Theme</h3>
<daff-card color="theme">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>

<h3>Theme Contrast</h3>
<daff-card color="theme-contrast">
  <img daffCardImage src="/assets/card/uber-logo-dark.svg" />
  <h4 daffCardTitle>Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  Some other content
</daff-card>