@use 'theme' as *;

@mixin daffio-docs-footer-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$base: daff-get-base-color($theme, base);
	$base-contrast: daff-get-base-color($theme, base-contrast);
	$primary: daff-get-palette($theme, primary);

	.daffio-docs-footer {
		border-top: 1px solid daff-illuminate($base, $neutral, 2);

		&__copyright {
			color: daff-illuminate($base-contrast, $neutral, 4);
		}

		&__link {
			color: daff-text-contrast($base);
			transition: color 300ms;

			&:hover {
				color: daff-color($primary);
			}
		}
	}
}
