<daff-container size="lg">
  <div class="daffio-docs-footer__grid">
    <a class="daffio-docs-footer__logo" routerLink="/">
      <daff-branding-logo type="icon"></daff-branding-logo>
    </a>
    <div class="daffio-docs-footer__links">
      @for (link of links; track link) {
        <a [href]="link.path" target="_blank" rel="noopener noreferrer"
          class="daffio-docs-footer__link">
          {{ link.title }}
        </a>
      }
      @for (socialLink of socialLinks; track socialLink) {
        <a [href]="socialLink.link" target="_blank" rel="noopener noreferrer"
          class="daffio-docs-footer__link">
          <fa-icon [icon]="socialLink.icon" attr.aria-label="{{socialLink.title}} Logo"></fa-icon>
          <span>{{socialLink.title}}</span>
        </a>
      }
    </div>
  </div>
  <daff-branding-copyright class="daffio-docs-footer__copyright"></daff-branding-copyright>
</daff-container>
