<daff-container size="lg">
  <div class="daffio-docs-footer__grid">
    <div class="daffio-docs-footer__links">
      @for (link of links; track link) {
        <a [href]="link.path" target="_blank" rel="noopener noreferrer"
          class="daffio-docs-footer__link">
          {{ link.title }}
        </a>
      }
    </div>
    <div class="daffio-docs-footer__social-links">
      @for (socialLink of socialLinks; track socialLink) {
        <a [href]="socialLink.link" target="_blank" rel="noopener noreferrer"
          class="daffio-docs-footer__social-link">
          <fa-icon [icon]="socialLink.icon" attr.aria-label="Go to {{socialLink.title}}"></fa-icon>
        </a>
      }
    </div>
  </div>
  <daff-branding-copyright class="daffio-docs-footer__copyright"></daff-branding-copyright>
</daff-container>
