<h1 daffArticleTitle>Notification</h1>
<p daffArticleLead>Notifications provides a way to display and communicate information related user actions within a page's content.</p>

<h2>Overview</h2>
<p>Notifications are used to display short messages that provide context in close promixity to a piece of content. They're often used to provide feedback or to notify users about an action they performed within a page. Notifications should not be used to display app-level alerts. Instead, use the <a routerLink="/toast">Toast</a> component.</p>

<h3>Default notification</h3>
<design-land-example-viewer-container example="default-notification"></design-land-example-viewer-container>

<h3>Dismissable notification</h3>
<design-land-example-viewer-container example="dismissable-notification"></design-land-example-viewer-container>

<h3>Notification Statuses</h3>
<design-land-example-viewer-container example="notification-status"></design-land-example-viewer-container>

<h3>Notification Orientations</h3>
<design-land-example-viewer-container example="notification-orientations"></design-land-example-viewer-container>