<h1 daffArticleTitle>Notification</h1>
<p daffArticleLead>Notifications provides a way to display and communicate information for user actions or system updates. There are two main types of notifications — inline or toast.</p>

<h2>Default notification</h2>
<design-land-example-viewer-container example="default-notification"></design-land-example-viewer-container>

<h2>Notification Modes</h2>
<table>
	<thead>
		<tr>
			<th>Mode</th>
			<th>Use Case</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Inline</td>
			<td>Inline notifications are used to display short messages that provide context in close promixity to a piece of content. They're often used to provide feedback or to notify users about an action they performed within a page.</td>
		</tr>
		<tr>
			<td>Toast</td>
			<td>Toast notifications are used to display temporary messages about actions or events that occured, with no relation to content on a page. Toasts are typically time-sensitive and related to application level information.</td>
		</tr>
	</tbody>
</table>

<design-land-example-viewer-container example="notification-mode"></design-land-example-viewer-container>

<h2>Notification Statuses</h2>
<design-land-example-viewer-container example="notification-status"></design-land-example-viewer-container>