<div class="demo-add-to-cart-notification">
  @if ((loading$ | async) === false) {
    <div class="demo-add-to-cart-notification__header" >
      <span class="demo-add-to-cart-notification__check-icon">
        <fa-icon [icon]="faCheck" aria-hidden="true"></fa-icon>
      </span>
      <span>Added to Cart</span>
      <button daff-icon-button class="demo-add-to-cart-notification__close" (click)="onHide()">
        <fa-icon [icon]="faTimes" aria-hidden="true"></fa-icon>
      </button>
    </div>
  }
  @if ((loading$ | async) === false) {
    <demo-product-added class="demo-add-to-cart-notification__product-added"
    [product]="product$ | async" [qty]="productQty$ | async"></demo-product-added>
  }
  @if ((loading$ | async) === false) {
    <div class="demo-add-to-cart-notification__button-set">
      <button type="button" daff-stroked-button demoViewCart>
        View Cart ({{(cartItemCount$ | async)}})
      </button>
      <button type="button" daff-button color="secondary" demoProceedToCheckout>Checkout</button>
    </div>
  }
  @if ((loading$ | async)) {
    <daff-spinner></daff-spinner>
  }
</div>
