<demo-modal-portal>
  <daff-modal [show]="open$ | async" (hide)="onHide()" [verticalPosition]="_verticalPosition"
    [horizontalPosition]="_horizontalPosition">
    <div class="add-to-cart-notification">
      <div class="add-to-cart-notification__header"  *ngIf="!(loading$ | async)">
        <span class="add-to-cart-notification__check-icon"><fa-icon [icon]="['fas', 'check']" aria-hidden="true"></fa-icon></span>
        <span>Added to Cart</span>
        <span class="add-to-cart-notification__close"><fa-icon [icon]="['fas', 'times']" aria-hidden="true" (click)="onHide()"></fa-icon></span>
      </div>
      <demo-product-added *ngIf="!(loading$ | async)" class="add-to-cart-notification__product-added"
        [product]="product$ | async" [qty]="productQty$ | async"></demo-product-added>
      <div *ngIf="!(loading$ | async)" daff-button-set class="add-to-cart-notification__button-set">
        <button type="button" daff-stroked-button (click)="onHide()" demoViewCart>
          View Cart ({{(cartItemCount$ | async)}})
        </button>
        <button type="button" daff-button color="secondary" (click)="onHide()" demoProceedToCheckout>Checkout</button>
      </div>
      <daff-loading-icon *ngIf="(loading$ | async)"></daff-loading-icon>
    </div>
  </daff-modal>
</demo-modal-portal>
