<h1>Native Select</h1>
<p>Native select is a form control element that can be used in forms.</p>

<h2>Examples</h2>

<h3>Basic</h3>
<p>A basic native select without using the <code>DaffFormFieldComponent</code>.</p>

<design-land-example-viewer-container example="basic-native-select"></design-land-example-viewer-container>

<h3>Disabled select</h3>
<design-land-example-viewer-container example="native-select-disabled"></design-land-example-viewer-container>

<h3>Select with hint and error messages</h3>
<p>The select in this example uses the ReactiveFormsModule to display errors.</p>

<design-land-example-viewer-container example="native-select-error"></design-land-example-viewer-container>