@use 'utilities' as daff;

.daffio-home-callout-platforms {
	&__logos {
		display: grid;
		grid-template-columns: 112px 112px;
		grid-template-areas: 'magento shopify';
		grid-gap: 24px;
		justify-content: center;

		@include daff.breakpoint(mobile) {
			grid-template-columns: 144px 144px;
			grid-template-areas: 'magento shopify';
			grid-gap: 48px;
		}
	}

	&__magento {
		grid-area: magento;
	}

	&__shopify {
		grid-area: shopify;
	}
}

:host-context(.daff-theme-dark) {
	.daffio-home-callout-platforms {
		&__logos {
			> * {
				filter: invert(1);
			}
		}
	}
}
