@import 'utilities';

.daffio-home-callout-platforms {
	&__logos {
		display: grid;
		grid-template-columns: 112px 112px;
		grid-template-areas: 'magento shopify';
		grid-gap: 24px;
		opacity: 0.5;
		justify-content: center;

		@include breakpoint(mobile) {
			grid-template-columns: 144px 144px;
		grid-template-areas: 'magento shopify';
		grid-gap: 24px;
		}
	}

	&__magento {
		grid-area: magento;
	}

	&__shopify {
		grid-area: shopify;
	}
}
