<daff-callout textAlignment="center">
  <daff-container size="md">
    <div daffCalloutTitle>
      Seamless multi-platform ecommerce integration
    </div>
    <p daffCalloutSubtitle>
      Transition between Magento, Shopify or any other platforms without the hassle of reinventing your front-end.
    </p>
    <div daffCalloutBody class="daffio-home-callout-platforms__logos">
      <daff-image src="/assets/magento-monotone-logo.svg" alt="Magento Logo" width="300" height="83"></daff-image>
      <daff-image src="/assets/shopify-monotone-logo.svg" alt="Shopify Logo" width="300" height="86"></daff-image>
    </div>
  </daff-container>
</daff-callout>