@use 'theme' as *;

@mixin daffio-docs-scroll-to-top-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$mode: daff-get-theme-mode($theme);

	.daffio-docs-scroll-to-top {
		&__button {
			@include light($mode) {
				color: daff-color($neutral, 80);

				&:hover {
					color: daff-color($neutral, 90);
				}
			}

			@include dark($mode) {
				color: daff-color($neutral, 40);

				&:hover {
					color: daff-color($neutral, 30);
				}
			}
		}
	}
}
