@use 'utilities' as daff;

.daffio-docs-scroll-to-top {
	&__button {
		@include daff.clickable();
		display: flex;
		align-items: center;
		gap: 0.5rem;
		appearance: none;
		background: none;
		border: none;
		position: relative;
	}
}
