<form class="demo-checkout-payment-form" [formGroup]="form" #ngForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="demo-checkout-payment-form__title">
    Payment Details
  </div>

  <div class="demo-checkout-payment-form__subtitle">Payment Method</div>
  <demo-payment-info-form class="demo-checkout-payment-form__payment-info" [formGroup]="form.controls.paymentInfo"></demo-payment-info-form>

  <div class="demo-checkout-payment-form__subtitle">Billing Address</div>
  <daff-checkbox [formControl]="form.controls.bsas" value="sameAsShipping">Same as shipping address</daff-checkbox>
  @if (form.value.bsas) {
    <demo-geography-address-summary [address]="shippingAddress"></demo-geography-address-summary>
  } @else {
    <demo-checkout-address-form class="demo-checkout-payment-form__address" [formGroup]="form.controls.address"></demo-checkout-address-form>
  }
  <button type="submit" daff-button color="black" class="demo-checkout-payment-form__button">Save & Review Order</button>
  <div class="demo-checkout-payment-form__note">
    You can review this order before it's final.
  </div>
</form>
