@use 'utilities' as *;

.demo-checkout-payment-form {
	display: flex;
	flex-direction: column;
	max-width: 100%;

	@include breakpoint(big-tablet) {
		max-width: 350px;
	}

	&__title {
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__subtitle {
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__payment-info {
		margin-bottom: 25px;
	}

	&__address {
		margin-top: 15px;
	}

	&__button {
		margin: 25px 0 10px;
	}

	&__note {
		text-align: center;
		font-size: $small-font-size;

		@include breakpoint(big-tablet) {
			text-align: left;
		}
	}
}
