@use '@daffodil/design/scss/utilities' as *;
@use 'demo-theme' as *;
@use '@daffodil/design/scss/theme' as daff-theme;
@use '../../../../../scss/mixins/dividers' as *;

.demo-header {
	padding: 0;
	@include section-divider();

	&__menu {
		border-right: 1px solid daff-theme.daff-color($neutral, 20);
		padding: 15px;
	}

	&__logo {
		padding: 0 0 0 25px;
	}

	&__right-nav {
		padding: 0 25px 0 0;
	}

	&__spacer {
		flex-grow: 1;
	}
}
