@use 'theme' as daff-theme;

@mixin daffio-newsletter-theme($theme) {
	$neutral: daff-theme.daff-map-deep-get($theme, 'core.neutral');
	$base: daff-theme.daff-map-deep-get($theme, 'core.base');
	$base-contrast: daff-theme.daff-map-deep-get($theme, 'core.base-contrast');

	.daffio-newsletter {
		&__input {
			border-color: daff-theme.daff-color($neutral, 30);
		}
	}
}
