@use 'utilities' as daff;

.daffio-newsletter {
	&__header {
		font-size: 1rem;
		font-weight: bold;
		padding: 0 0 24px;
		text-transform: uppercase;
	}

	&__content {
		font-size: 1rem;
		padding: 0 0 24px;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
	}

	&__input {
		width: 60%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		@include daff.breakpoint(laptop) {
			width: 60%;
		}
	}

	&__button {
		width: 40%;
		line-height: 1.5rem;
		font-size: 0.875rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		@include daff.breakpoint(tablet) {
			font-size: 1rem;
		}

		@include daff.breakpoint(laptop) {
			width: 30%;
		}
	}
}
