:host {
	display: block;
}

.demo-logo {
	height: 40px;
	width: 40px;

	svg {
		height: 100%;
	}

	&__petal-1 {
		fill:#fff000;
	}

	&__petal-2 {
		fill:url(#linear-gradient-1); /* stylelint-disable-line function-url-quotes */
	}

	&__petal-3 {
		fill:url(#linear-gradient-2); /* stylelint-disable-line function-url-quotes */
	}

	&__petal-4 {
		fill:url(#linear-gradient-3); /* stylelint-disable-line function-url-quotes */
	}

	&__core {
		fill:#ff8500;
	}

	&__small-petal {
		fill:#ffc000;
	}
}
