@use 'utilities' as daff;

:host {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
	}
}

.daffio-api-list {
	&__package-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 4rem 0;

		&:first-of-type {
			padding-top: 0;
		}
	}

	&__package {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__package-name {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.75rem;

		> * {
			@include daff.text-truncate();

			@include daff.breakpoint(mobile) {
				display: inline;
			}
		}
	}

	&__subpackage-name {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.25rem;
		@include daff.text-truncate();
	}
}
