@use 'utilities' as *;
@use 'demo-theme' as *;
@use '../../../../scss/mixins/dividers' as *;

:host {
	display: grid;
	grid-template-columns: 1fr;

	@include breakpoint(big-tablet) {
		grid-template-columns: 2fr 1fr;
		column-gap: 50px;
	}
}

.demo-cart {
	&__header {
		@include section-divider();
		padding-bottom: 15px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@include breakpoint(big-tablet) {
			justify-content: flex-start;
		}
	}

	&__title {
		font-weight: bold;
		text-transform: uppercase;
	}

	&__item-count {
		@include breakpoint(big-tablet) {
			margin-left: 15px;
		}
	}

	&__sidebar {
		margin-top: 25px;
	}

	&__items {
		display: block;
		padding: 25px 0;
		@include section-divider();
	}
}
