@import 'utilities';

:host {
	display: block;
}

.daffio-docs-table-of-contents {
	position: sticky;
	max-height: 100vh;
	overflow: auto;
	top: 48px;

	&__item {
		display: block;

		&:first-of-type {
			@include embolden();
			padding: 0 0 8px;
			margin: 0 0 16px;
		}

		a {
			text-decoration: none;
		}

		&--level-1 {
			padding: 0;
		}

		&--level-2 {
			padding: 0;
		}
	
		&--level-3 {
			padding: 0 0 0 16px;
		}
	
		&--level-4 {
			padding: 0 0 0 32px;
		}
	}
}