@use 'utilities' as daff;

:host {
	display: block;
}

.daffio-docs-table-of-contents {
	max-height: 100vh;
	position: sticky;
	top: calc(var(--daff-sidebar-side-fixed-top-shift) + 96px);
	max-width: 15rem;
	width: 100%;

	&__title {
		font-weight: bold;
		margin: 0 0 1.5rem;
	}
}
