@use 'utilities' as daff;

:host {
	display: block;
}

.daffio-docs-table-of-contents {
	max-height: 100vh;
	position: sticky;
	top: calc(var(--daff-sidebar-side-fixed-top-shift) + 96px);

	&__title {
		font-weight: bold;
		margin: 0 0 24px;
	}
}
