<div class="demo-cart-summary-wrapper">
  @if (!loading) {
    <demo-cart-summary class="demo-cart-summary-wrapper__content" [cart]="cart" [title]="cartTitle"></demo-cart-summary>
  }
  @if (!(loading)) {
    <demo-cart-totals [cart]="cart"></demo-cart-totals>
  }
  <ng-content></ng-content>
  @if (!(loading)) {
    <demo-help-box class="demo-cart-summary-wrapper__help-box"></demo-help-box>
  }
  @if ((loading)) {
    <div class="demo-cart-summary-wrapper__loading-icon">
      <daff-spinner></daff-spinner>
    </div>
  }
</div>
