@import 'utilities';
@import "theme";

.cart-summary-wrapper {
  display: grid;
  grid-row-gap: 15px;

  &__content {
    @include section-divider();
  }

  &__help-box {
    display: none;

    @include breakpoint(big-tablet) {
      display: block;
    }
  }

  &__loading-icon {
    margin: 20px 44%;

    @include breakpoint(big-tablet) {
      grid-column: span 3;
    }
  }
}
