<h1>Switch</h1>

<design-land-example-viewer-container example="basic-switch"></design-land-example-viewer-container>
<design-land-example-viewer-container example="disabled-switch"></design-land-example-viewer-container>
<design-land-example-viewer-container example="loading-switch"></design-land-example-viewer-container>
<design-land-example-viewer-container example="switch-error"></design-land-example-viewer-container>
<design-land-example-viewer-container example="switch-label-positions"></design-land-example-viewer-container>
