<h1>Container</h1>
<p>Container is a basic structural element that can be used to restrict content to a specific width. Containers are not responsible for providing padding or margin.</p>

<h2>Size</h2>
<p>The size of a container can be defined by using the <code>size</code> property. There is no default size set.</p>
<p>Supported sizes: <code>xs | sm | md | lg | xl</code></p>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>Syntax</th>
      <th>Max width</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Extra small</td>
      <td>xs</td>
      <td>640px</td>
    </tr>
    <tr>
      <td>Small</td>
      <td>sm</td>
      <td>800px</td>
    </tr>
    <tr>
      <td>Medium</td>
      <td>md</td>
      <td>1040px</td>
    </tr>
    <tr>
      <td>Large</td>
      <td>lg</td>
      <td>1340px</td>
    </tr>
    <tr>
      <td>Extra large</td>
      <td>xl</td>
      <td>1920px</td>
    </tr>
  </tbody>
</table>

<h2>Usage</h2>
<design-land-example-viewer-container example="container-sizes"></design-land-example-viewer-container>
