// You can add global styles to this file, and also import other style files (before foundation)
@import '~scss/variables';

// Global styles
$body-font-family: 'Open Sans', sans-serif;
$global-font-size: 14px;
$global-weight-normal: 400;
$breakpoint-classes: (small medium large xlarge xxlarge);

// Imports
@import '~foundation-sites/assets/foundation';
@import '~scss/mixins/general';

body {
  font-size: 16px;
  
  @include breakpoint(small) {
    font-size: 14px;
  }
}

$large-font-size: 1.43rem;
$medium-font-size: 1.125rem;
$small-font-size: 0.875rem;;
