// Define color palette
$foundation-palette: (
  primary: #212121,
  secondary: #3f51b5,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);

$light-gray: #fafafa;
$medium-gray: #bdbdbd;
$dark-gray: #424242;
$black: #212121;
$white: #fff;

$light-blue: #4a90e2;
