@use 'utilities' as daff;

.daffio-support {
	&__body {
		text-align: center;
	}

	&__actions {
		display: inline-grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;

		@include daff.breakpoint(tablet) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
