<daff-hero textAlignment="center" color="theme">
  <daff-container size="md">
    <h1 daffHeroTitle>Daffodil is maintained by Graycore.</h1>
    <h2 daffHeroSubtitle>Please contact Graycore for any questions or information.</h2>
    <div daffHeroBody class="daffio-support__body">
      <div class="daffio-support__actions">
        <a href="https://www.graycore.io/contact" target="_blank" rel="noopener noreferrer" daff-button color="theme-contrast">
          Contact Graycore
        </a>
        <a href="https://github.com/graycoreio/daffodil/issues" target="_blank" rel="noopener noreferrer" daff-stroked-button color="theme-contrast">
          Submit an issue
        </a>
      </div>
    </div>
  </daff-container>
</daff-hero>