<img class="minicart-item__image" src="{{item.image.url}}" (click)="redirectToProduct()">
<div class="minicart-item__description">
  <div class="minicart-item__name" (click)="redirectToProduct()">{{item.name}}</div>
  <div class="minicart-item__price">${{item.price}}</div>
  <div class="minicart-item__info">
    Color: White (HC)
  </div>
  <div class="minicart-item__info">
    Size: 5 (HC)
  </div>
  <div class="minicart-item__info">
    Qty: {{item.qty}}
  </div>
  <div class="minicart-item__change">
    <a href="/" daff-link>Edit</a>
    <a href="/" daff-link>Remove</a>
  </div>
</div>