@use 'demo-theme';
@use 'utilities' as *;

:host {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	grid-template-columns: 1fr 3fr;
}

.demo-minicart-item {
	&__image {
		display: block;
		max-width: 100%;
		@include clickable();
	}

	&__description {
		display: block;
	}

	&__name {
		@include clickable();
		font-weight: bold;
	}

	&__price {
		font-size: 1rem;
		color: demo-theme.daff-color(demo-theme.$secondary);
		margin-bottom: 15px;
	}

	&__info {
		font-size: $small-font-size;
		color: demo-theme.daff-color(demo-theme.$neutral, 90);
		line-height: 1.25rem;
	}

	&__change {
		margin-top: 15px;
		display: none;

		@include breakpoint(big-tablet) {
			display: block;
		}

		> * {
			font-size: $small-font-size;
			color: demo-theme.daff-color(demo-theme.$neutral);
			text-decoration: underline;

			&:last-child {
				margin-left: 10px;
			}
		}
	}
}
