<daff-article>
  <h1>Checkbox</h1>
  <p daffArticleLead>
    The checkbox can be used in the same way as <code>&lt;input type=&quot;checkbox&quot;&gt;</code>.
  </p>
  <h3>Basic Checkbox</h3>
  <design-land-example-viewer example="basic-checkbox"></design-land-example-viewer>
  
  <h3>Checkbox Set</h3>
  <design-land-example-viewer example="checkbox-set"></design-land-example-viewer>

  <h3>Accessibility</h3>
  <p>
    Every checkbox without related text or labels should be given a label using <a href="https://www.w3.org/TR/WCAG20-TECHS/ARIA6.html"><code>aria-label</code></a> or
    <a href="https://www.w3.org/TR/WCAG20-TECHS/ARIA7.html"><code>aria-labelledby</code></a>.
  </p>
</daff-article>

