<daff-container size="lg">
  <div class="demo-product" *ngIf="product">
    <div class="demo-product__image-gallery">
      <demo-image-gallery-container [images]="product.images"></demo-image-gallery-container>
    </div>
    <div class="demo-product__info">
      <h2 class="demo-product__brand">{{product.brand}}</h2>
      <h1 class="demo-product__name">{{product.name}}</h1>
      <div class="demo-product__price">${{product.price}}</div>
    </div>
    <div class="demo-product__details">
      <div class="demo-product__qty">
        <span>Quantity</span>
        <daff-qty-dropdown id="{{product.id}}" [qty]="qty" (qtyChanged)="onUpdateQty($event)"></daff-qty-dropdown>
      </div>
      <div class="demo-product__button">
        <ng-content></ng-content>
      </div>
      <div class="demo-product__accordion">
        <daff-accordion>
          <daff-accordion-item initiallyActive="true">
            <h3 daffAccordionItemTitle>Details</h3>
            <div daffAccordionItemContent [innerHtml]="product.description"></div>
          </daff-accordion-item>
        </daff-accordion>
      </div>
    </div>
  </div>
</daff-container>