@use 'utilities' as *;
@import 'theme';

.demo-product {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 1fr;
	padding: 25px 0 50px;

	@include breakpoint(big-tablet) {
		grid-template-areas:
			'image-gallery info'
			'image-gallery details'
			'image-gallery .'
			'image-gallery .'
			'image-gallery .';
		grid-gap: 25px 50px;
		grid-template-columns: 2fr 1fr;
		padding: 50px 25px;
	}

	&__image-gallery {
		order: 2;

		@include breakpoint(big-tablet) {
			grid-area: image-gallery;
			order: 1;
		}
	}

	&__info {
		order: 1;
		padding: 0 25px;

		@include breakpoint(big-tablet) {
			grid-area: info;
			order: 2;
			padding: 0;
		}
	}

	&__details {
		order: 3;
		padding: 0 25px;

		@include breakpoint(big-tablet) {
			grid-area: details;
			padding: 0;
		}
	}

	&__brand {
		color: daff-color($daff-neutral, 80);
		font-size: $medium-font-size;
		font-weight: normal;
	}

	&__name {
		font-size: $large-font-size;
		font-weight: bold;
		padding: 5px 0;
	}

	&__price {
		font-size: $medium-font-size;
	}

	&__qty {
		display: flex;
		margin: 0 0 25px;
		align-items: center;

		span {
			margin-right: 15px;
		}
	}

	&__button {
		width: 100%;

		@include breakpoint(big-tablet) {
			width: 70%;
		}
	}

	&__accordion {
		border-top: 1px solid daff-color($daff-neutral, 20);
		margin: 50px 0 0;

		a {
			display: block;
			text-decoration: underline;
			margin-top: 15px;
		}
	}
}
