@use 'sass:map';
@use 'theme' as daff-theme;

@mixin daffio-sidebar-footer-theme($theme) {
	$neutral: daff-theme.daff-map-deep-get($theme, 'core.neutral');
	$base: daff-theme.daff-map-deep-get($theme, 'core.base');
	$base-contrast: daff-theme.daff-map-deep-get($theme, 'core.base-contrast');
	$primary: map.get($theme, primary);

	.daffio-sidebar-footer {
		background: daff-theme.daff-illuminate($base, $neutral, 2);

		&:hover {
			background: daff-theme.daff-illuminate($base, $neutral, 3);
		}
	}
}
