<h1>Daff Link Set</h1>

<h2>Default</h2>
<daff-link-set>
  <div daffLinkSetHeading>Atoms</div>
  <a daff-link-set-item routerLink="button">Button</a>
  <a daff-link-set-item routerLink="link">Link</a>
  <a daff-link-set-item routerLink="loading-icon">Loading Icon</a>
  <a daff-link-set-item routerLink="progress-indicator">Progress Indicator</a>
</daff-link-set>

<h2>Nested Link Sets</h2>
<daff-link-set>
  <a href="#" daff-link-set-item daffLinkSetHeading>Link Set Heading</a>
  <a href="#" daff-link-set-item>Link</a>
  <div daffLinkSetSubheading>Link Set Subheading</div>
  <daff-link-set>
    <a href="#" daff-link-set-item>Link</a>
    <a href="#" daff-link-set-item>Link</a>
    <a href="#" daff-link-set-item>Link</a>
    <a href="#" daff-link-set-item>Link</a>
  </daff-link-set>
  <a href="#" daff-link-set-item>Link</a>
  <a href="#" daff-link-set-item>Link</a>
  <a href="#" daff-link-set-item>Link</a>
</daff-link-set>