<ng-container *ngrxLet="{
  loading: loading$,
  order: order$,
} as vm">
  <daff-container size="md">
    @if (vm.loading) {
      <daff-loading-icon></daff-loading-icon>
    } @else {
      <div class="demo-thank-you-view">
        <daff-accordion class="demo-thank-you-view__mobile-cart">
          <daff-accordion-item [initiallyExpanded]="false">
            <h3 daffAccordionItemTitle>Cart Summary ({{vm.order?.items.length}})</h3>
            <!-- <demo-cart-summary-wrapper [cart]="vm.order" [loading]="vm.loading"></demo-cart-summary-wrapper> -->
          </daff-accordion-item>
        </daff-accordion>

        <!-- <demo-thank-you></demo-thank-you> -->

        <div class="demo-thank-you-view__cart">
          <div class="demo-thank-you-view__desktop-cart">
            <!-- <demo-cart-summary-wrapper [cartTitle]="'CART SUMMARY'" [cart]="vm.order" [loading]="vm.loading"></demo-cart-summary-wrapper> -->
          </div>
        </div>
      </div>
    }
  </daff-container>
</ng-container>
