<daff-container size="md">
  <div cart-container #CartContainer="CartContainer">
    <div class="thank-you" *ngIf="!(CartContainer.loading$ | async)">
      <daff-accordion class="thank-you__mobile-cart">
        <daff-accordion-item [initiallyActive]="false">
          <h3 daff-accordion-item-title>Cart Summary ({{(CartContainer.cart$ | async).items.length}})</h3>
          <demo-checkout-cart-async-wrapper [cart]="CartContainer.cart$ | async" [loading]="CartContainer.loading$ | async"></demo-checkout-cart-async-wrapper>
        </daff-accordion-item>
      </daff-accordion>

      <demo-thank-you></demo-thank-you>

      <div class="thank-you__cart">
        <div class="thank-you__desktop-cart">
          <demo-checkout-cart-async-wrapper [cartTitle]="'CART SUMMARY'" [cart]="CartContainer.cart$ | async" [loading]="CartContainer.loading$ | async"></demo-checkout-cart-async-wrapper>
        </div>
      </div>
    </div>
    <demo-loading-icon *ngIf="(CartContainer.loading$ | async)"></demo-loading-icon>
  </div>
</daff-container>
