<daff-container size="md">
  <div order-container #OrderContainer="OrderContainer">
    <div class="demo-thank-you-view" *ngIf="!(OrderContainer.loading$ | async)">
      <daff-accordion class="demo-thank-you-view__mobile-cart">
        <daff-accordion-item [initiallyActive]="false">
          <h3 daffAccordionItemTitle>Cart Summary ({{(OrderContainer.order$ | async).items.length}})</h3>
          <demo-cart-summary-wrapper [cart]="OrderContainer.order$ | async" [loading]="OrderContainer.loading$ | async"></demo-cart-summary-wrapper>
        </daff-accordion-item>
      </daff-accordion>

      <demo-thank-you></demo-thank-you>

      <div class="demo-thank-you-view__cart">
        <div class="demo-thank-you-view__desktop-cart">
          <demo-cart-summary-wrapper [cartTitle]="'CART SUMMARY'" [cart]="OrderContainer.order$ | async" [loading]="OrderContainer.loading$ | async"></demo-cart-summary-wrapper>
        </div>
      </div>
    </div>
    <daff-loading-icon *ngIf="(OrderContainer.loading$ | async)"></daff-loading-icon>
  </div>
</daff-container>
