<daff-article>
	<h1 daffArticleTitle>Article</h1>
	<p daffArticleLead>Daffodil's article component provides styles to common element selectors to create an article in a content page.</p>

	<h2>About</h2>
	<p>The article component can be used on any content pages that displays large blocks of text-driven information. It is meant to be used as a standalone element. It should not be nested inside any other components that may change the background color from the anticipated one. In the event that you must nest the article inside another component, please ensure that you set the article's background color to the default body color.</p>

	<h2>Headings</h2>
	<design-land-example-viewer example="article-headings"></design-land-example-viewer>


	<h2>Article Lead</h2>
	<p >Lead is used for the opening paragraph of an article. It should be used to provide a summary or leading information for an article. Lead is a custom directive of article and is not a native element selector. To use it, add <code>daffArticleLead</code> to a paragraph (<code>&lt;p&gt;</code>)</p>
	<design-land-example-viewer example="article-lead"></design-land-example-viewer>


	<h2>Article Meta</h2>
	<p>Meta is used if there is metadata information about your article (i.e. author name, date, etc). Lead is a custom directive of article and is not a native element selector. To use it, add <code>daffArticleMeta</code> to a paragraph (<code>&lt;p&gt;</code>)</p>
	<design-land-example-viewer example="article-meta"></design-land-example-viewer>

	<h2>Link</h2>
	<p>The link style in an article uses the default browser link style. <a href="#">This is a link.</a></p>
	<design-land-example-viewer example="article-link"></design-land-example-viewer>

	<h2>Lists</h2>
	<h3>Unordered List</h3>
	<design-land-example-viewer example="article-ul"></design-land-example-viewer>

	<h3>Ordered List</h3>
	<design-land-example-viewer example="article-ol"></design-land-example-viewer>

	<h2>Code</h2>
	<p>These are styles for inline and multiline blocks of code.</p>

	<h3>Inline code</h3>
	<design-land-example-viewer example="article-code-inline"></design-land-example-viewer>

	<h3>Code blocks</h3>
	<design-land-example-viewer example="article-code-block"></design-land-example-viewer>


	<h2>Horizontal Rules</h2>
	<design-land-example-viewer example="article-hr"></design-land-example-viewer>

	<h2>Blockquote</h2>
	<design-land-example-viewer example="article-blockquote"></design-land-example-viewer>

</daff-article>