<h1>Article</h1>
<p>Article provides styles to common element selectors to create an article in a content page.</p>

<h2>Overview</h2>
<p>Article can be used on any content page that displays large blocks of text-driven information. It's meant to be used as a standalone element and should not be nested inside any other components that may change the background color from the anticipated one. In the event that you must nest an article inside another component, please ensure that you set the article's background color to the default body color.</p>

<h2>Headings</h2>
<daff-docs-example-viewer-container example="article-headings"></daff-docs-example-viewer-container>

<h2>Article Meta</h2>
<p>Meta is used if there is metadata information about your article (i.e. author name, date, etc). Meta is a custom directive of article and is not a native element selector. To use it, add <code>daffArticleMeta</code> to a paragraph (<code>&lt;p&gt;</code>).</p>
<daff-docs-example-viewer-container example="article-meta"></daff-docs-example-viewer-container>

<h2>Link</h2>
<p>The link style in an article uses the default browser link style.</p>
<daff-docs-example-viewer-container example="article-link"></daff-docs-example-viewer-container>

<h2>Table</h2>
<daff-docs-example-viewer-container example="article-table"></daff-docs-example-viewer-container>

<h2>Lists</h2>
<h3>Unordered List</h3>
<daff-docs-example-viewer-container example="article-ul"></daff-docs-example-viewer-container>

<h3>Ordered List</h3>
<daff-docs-example-viewer-container example="article-ol"></daff-docs-example-viewer-container>

<h2>Code</h2>
<p>These are styles for inline and multiline blocks of code.</p>

<h3>Inline code</h3>
<daff-docs-example-viewer-container example="article-code-inline"></daff-docs-example-viewer-container>

<h3>Code blocks</h3>
<daff-docs-example-viewer-container example="article-code-block"></daff-docs-example-viewer-container>

<h2>Horizontal Rules</h2>
<daff-docs-example-viewer-container example="article-hr"></daff-docs-example-viewer-container>

<h2>Blockquote</h2>
<daff-docs-example-viewer-container example="article-blockquote"></daff-docs-example-viewer-container>
