<daff-sidebar class="demo-sidebar" [side]="side" [mode]="mode" (escapePressed)="onClose()" [open]="open">
  <span class="demo-sidebar__close" (click)="onClose()"><fa-icon [icon]="faTimes"></fa-icon></span>
  @if ((treeLoading$ | async) === false) {
    <demo-sidebar-list [tree]="tree$ | async"></demo-sidebar-list>
  }
  @for (error of (treeErrors$ | async); track error) {
    <div class="demo-sidebar__error"> {{ error }}</div>
  }
  @if (treeLoading$ | async) {
    <daff-spinner></daff-spinner>
  }
</daff-sidebar>
