@import 'utilities';

.demo-sidebar {
	padding: 75px 25px 0;

	&__close {
		cursor: pointer;
		font-size: $medium-font-size;
		position: absolute;
		right: 25px;
		top: 25px;
	}

	&__error {
		color: $error;
	}
}
