@use 'demo-theme';
@use 'utilities' as *;

.demo-sidebar {
	padding: 75px 25px 0;

	&__close {
		@include clickable();
		font-size: $medium-font-size;
		position: absolute;
		right: 25px;
		top: 25px;
	}

	&__error {
		color: demo-theme.$error;
	}
}
