@use '@daffodil/design/scss/theme' as daff-theme;
@use '@daffodil/design/scss/utilities' as *;

.demo-sidebar {
	padding: 75px 25px 0;

	&__close {
		@include clickable();
		font-size: $font-size-md;
		position: absolute;
		right: 25px;
		top: 25px;
	}

	&__error {
		color: daff-theme.$error;
	}
}
