@use 'theme' as daff-theme;
@use 'sass:map';

@mixin daffio-footer-theme($theme) {
	$neutral: daff-theme.daff-map-deep-get($theme, 'core.neutral');
	$base: daff-theme.daff-map-deep-get($theme, 'core.base');
	$base-contrast: daff-theme.daff-map-deep-get($theme, 'core.base-contrast');
	$secondary: map.get($theme, secondary);

	.daffio-footer {
		border-top: 1px solid daff-theme.daff-illuminate($base, $neutral, 2);

		&__copyright {
			color: daff-theme.daff-illuminate($base-contrast, $neutral, 3);
		}

		&__link,
		&__social-link {
			color: daff-theme.daff-text-contrast($base);
			transition: color 300ms;

			&:hover {
				color: daff-theme.daff-illuminate($base-contrast, $neutral, 3);
			}
		}
	}
}
