@use 'utilities' as daff;

:host {
	display: block;
}

.daffio-doc-viewer {
	&__grid {
		padding: 1.5rem;

		@include daff.breakpoint(small-laptop) {
			display: flex;
			justify-content: space-between;
			gap: 4rem;
			padding: 3rem;
		}

		@include daff.breakpoint(desktop) {
			padding: 3rem 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		gap: 1.5rem;
	}

	&__table-of-contents {
		display: none;

		@include daff.breakpoint(small-laptop) {
			display: block;
			flex: 1 0 15rem;
		}
	}

	&__sidebar-activators {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		background: var(--daff-theme);
		border-bottom: 1px solid rgb(var(--daff-theme-contrast-rgb), 0.1);
		font-size: 1rem;
		line-height: 1rem;
		position: sticky;
		top: var(--daff-sidebar-side-fixed-top-shift);
    height: 3rem;
		width: 100%;
		box-sizing: border-box;
		z-index: 5;

		@include daff.breakpoint(big-tablet) {
			display: none;
		}
	}

	&__button {
		@include daff.clickable();
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		gap: 0.5rem;
		background: var(--daff-theme);
		border: 0;
		color: var(--daff-theme-contrast);
		padding: 1rem 1.5rem;
	}
}
