@use '@daffodil/design/scss/utilities' as daff;

// stylelint-disable selector-class-pattern
:host {
	display: block;
}

@mixin button-base() {
	@include daff.clickable();
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	gap: 0.5rem;
	background: var(--daff-theme);
	border: 0;
	color: var(--daff-theme-contrast);
}

.daffio-doc-viewer {
	&__grid {
		padding: 1.5rem;

		@include daff.breakpoint(small-laptop) {
			display: flex;
			gap: 4rem;
			padding: 3rem;
		}

		@include daff.breakpoint(desktop) {
			padding: 3rem 0;
			gap: 8rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;

		@include daff.breakpoint(small-laptop) {
			min-width: 40rem;
		}
	}

	&__aside-wrapper {
		display: none;

		@include daff.breakpoint(small-laptop) {
			align-self: flex-start;
			display: block;
			position: sticky;
			top: calc(var(--daff-sidebar-side-fixed-top-shift) + 3rem);
			flex-grow: 1;
			max-width: 15rem;
			width: 100%;
			height: calc(100vh - var(--daff-sidebar-side-fixed-top-shift) - 6rem);
		}
	}

	&__aside-title {
		font-weight: 500;
		margin: 0 0 1rem;
	}

	&__toc {
		overflow-y: auto;
		max-height: 65vh;
	}

	&__toc-links {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1rem 0 0;
		padding: 1rem 0 0;
	}

	&__edit-button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		text-decoration: none;
	}

	&__sidebar-activators {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		background: var(--daff-theme);
		border-bottom: 1px solid rgb(var(--daff-theme-contrast-rgb), 0.1);
		font-size: 1rem;
		line-height: 1rem;
		padding: 0 1rem;
		position: sticky;
		top: var(--daff-sidebar-side-fixed-top-shift);
		height: 3rem;
		width: 100%;
		box-sizing: border-box;
		z-index: 5;

		@include daff.breakpoint(big-tablet) {
			display: none;
		}
	}

	&__menu-button,
	&__toc-button {
		@include button-base();
	}

	&__menu-button {
		padding: 1rem 0;
	}

	&__toc-button {
		padding: 1rem 0;
	}

	&__button-icon {
		content: '';
		display: inline-block;
		border-right: 0.125rem solid currentColor;
		border-bottom: 0.125rem solid currentColor;
		width: 0.5rem;
		height: 0.5rem;
		transform: rotate(45deg);
		transition: transform 150ms;

		&.open {
			transform: translateY(40%) rotate(225deg);
		}
	}
}
