<h1>Input</h1>

<p><code>daff-input</code> is a form control element that can be used in forms.</p>

<h2>Examples</h2>

<h4>Basic</h4>
<p>A basic input without using <code>daff-form-field</code></p>

<design-land-example-viewer-container example="basic-input"></design-land-example-viewer-container>

<h4>With <code>daff-form-field</code></h4>
<p>An input using <code>daff-form-field</code></p>

<design-land-example-viewer-container example="input-with-form-field"></design-land-example-viewer-container>

<h4>Disabled</h4>
<p>An input showing how to use native HTML disabling</p>

<design-land-example-viewer-container example="input-disabled"></design-land-example-viewer-container>

<h4>With Reactive Forms</h4>
<p>An input showing field errors using <code>ReactiveFormsModule</code></p>

<design-land-example-viewer-container example="input-error"></design-land-example-viewer-container>