<h1>Input</h1>
<p>The input component allows a native HTML input element to work with the form field component.</p>

<h2>Overview</h2>
<p>The input component has the same functionality as a native HTML <code>&lt;input&gt;</code> element, with additional custom styling and functionality. It can't be used by itself and must be contained within a <code>&lt;daff-form-field&gt;</code>.</p>

<h2>Basic input with form field</h2>
<daff-docs-example-viewer-container example="input-with-form-field"></daff-docs-example-viewer-container>

<h2>Disabled input</h2>
<p>The input in this example is disabled using the native HTML disabled attribute.</p>

<daff-docs-example-viewer-container example="input-disabled"></daff-docs-example-viewer-container>

<h2>Input with error messages</h2>
<p>The input in this example uses the <code>ReactiveFormsModule</code> to display errors.</p>

<daff-docs-example-viewer-container example="input-error"></daff-docs-example-viewer-container>

<h3>Input with hint</h3>
<p>The input in this example has a hint.</p>

<daff-docs-example-viewer-container example="input-hint"></daff-docs-example-viewer-container>
