@use 'theme' as *;

// stylelint-disable selector-class-pattern
@mixin daffio-docs-member-heading-theme($theme) {
	$primary: daff-get-palette($theme, primary);
	$secondary: daff-get-palette($theme, secondary);
	$tertiary: daff-get-palette($theme, tertiary);
	$mode: daff-get-theme-mode($theme);

	.daffio-docs-member-heading {
		@include light($mode) {
			&.property {
				.daffio-docs-member-heading__name {
					background-color: daff-color($primary, 10);
					color: daff-color($primary, 80);
				}
			}

			&.function {
				.daffio-docs-member-heading__name {
					background-color: daff-color($secondary, 10);
					color: daff-color($secondary, 80);
				}
			}

			&.method {
				.daffio-docs-member-heading__name {
					background-color: daff-color($tertiary, 10);
					color: daff-color($tertiary, 80);
				}
			}
		}

		@include dark($mode) {
			&.property {
				.daffio-docs-member-heading__name {
					background-color: daff-color($primary, 90);
					color: daff-color($primary, 20);
				}
			}

			&.function {
				.daffio-docs-member-heading__name {
					background-color: daff-color($secondary, 90);
					color: daff-color($secondary, 20);
				}
			}

			&.method {
				.daffio-docs-member-heading__name {
					background-color: daff-color($tertiary, 90);
					color: daff-color($tertiary, 20);
				}
			}
		}
	}
}
