@use '@daffodil/design/scss/utilities' as *;
@use '@daffodil/design/scss/theme' as daff-theme;
@use 'demo-theme' as *;

.demo-help-box {
	border: 1px solid daff-theme.daff-color($neutral, 20);
	padding: 25px;

	&__title {
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__link {
		display: block;
		margin-top: 10px;
	}

	&__info {
		margin-top: 15px;
	}
}
