<div class="help-box">
  <div class="help-box__title">Need Help?</div>
  <a href="#" daff-link color="black" class="help-box__link">Shipping</a>
  <a href="#" daff-link color="black" class="help-box__link">Returns & Exchanges</a>
  <a href="#" daff-link color="black" class="help-box__link">Contact</a>
  <div class="help-box__info">Customer Service: 1-800-555-5555</div>
  <div class="help-box__info">
    <div>Monday-Friday, 9 AM - 9 PM (ET)</div>
    <div>Saturday-Sunday, 10:30 AM - 7 PM (ET)</div>
  </div>
  <div class="help-box__info">
    Reach us by email at: <a href="#" daff-link color="black">customerservice@store.com</a>
  </div>
</div>
