@import 'daff-util';

.help-box {
  border: 1px solid daff-color($daff-gray, 300);
  padding: 25px;

  &__title {
    @include embolden();
    margin-bottom: 15px;
  }

  &__link {
    display: block;
    margin-top: 10px;
  }

  &__info {
    margin-top: 15px;
  }

  a {
    text-decoration: underline;
  }
}