@use 'utilities' as *;
@import 'theme';

.demo-help-box {
	border: 1px solid daff-color($daff-neutral, 20);
	padding: 25px;

	&__title {
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__link {
		display: block;
		margin-top: 10px;
	}

	&__info {
		margin-top: 15px;
	}
}
