@use 'utilities' as *;

.demo-checkout-shipping-form {
	display: flex;
	flex-direction: column;

	&__title {
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__button {
		width: 100%;

		@include breakpoint(mobile) {
			width: 50%;
		}
	}
}
