<daff-form-field>
  <select daff-native-select [(ngModel)]="mode">
    <option value="push">Push (push)</option>
    <option value="over">Over (over)</option>
  </select>
</daff-form-field>

<button daff-button (click)="open = !open">{{ open ? "Close" : "Open" }}</button>
<button daff-button color="secondary" (click)="fixed = !fixed">{{ fixed ? "Undo" : "Fix in Viewport" }}</button>


<daff-sidebar-viewport [mode]="mode" [opened]="open" [fixed]="fixed">
  <daff-sidebar>
    <a daff-link-set-item routerLink="accordion">Accordion</a><br>
    <a daff-link-set-item routerLink="article">Article</a><br>
  </daff-sidebar>
  <p>Some Content</p>
</daff-sidebar-viewport>