<h1>Daff Hero</h1>

<daff-hero color="primary">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>

<daff-hero color="secondary">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>

<daff-hero color="tertiary">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>

<daff-hero color="black">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>

<daff-hero color="white">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>

<h1>Small Hero</h1>
<daff-hero size="small">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>

<h1>Centered Hero</h1>
<daff-hero layout="centered">
  <h1 daffHeroTitle>Hero Title</h1>
  <h2 daffHeroSubtitle>Hero subtitle</h2>
</daff-hero>