@use '../../../../../../scss/type-descriptors/mixins' as type-mixin;

.daffio-docs-api-base-content {
	&__title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.75rem;
		margin-bottom: 1rem;

		> * {
			margin: 0;
		}
	}
}
