// @use 'utilities' as daff;

// .daffio-header {
// 	padding: 0 24px;

// 	@include daff.breakpoint(mobile) {
// 		padding: 0 48px;
// 	}

// 	@include daff.breakpoint(small-laptop) {
// 		padding: 0;
// 	}
// }
