<h1 daffArticleTitle>Menu</h1>
<p daffArticleLead>Menu is a small floating panel used to display a list of actions or navigational items.</p>

<h2>Overview</h2>
<p>Menus only appear when a user interacts with a menu activator button. They should be used for secondary actions or options where users don't need immediate access to.</p>

<h2>Basic Menu</h2>
<design-land-example-viewer-container example="basic-menu"></design-land-example-viewer-container>

<h2>Supported Content Types</h2>

<h3>Menu Item</h3>
<p>A menu consists of multiple <code>daff-menu-item</code>s. Menu items should be used with an anchor or button HTML element.</p>

<h3>Icon</h3>
<p>An icon can be added before the content in <code>daff-menu-item</code> by using the <code>daffPrefix</code> selector.</p>

<h3>Menu Activator</h3>
<p>A menu is attached to and triggered by the <code>daffMenuActivator</code> directive.</p>
