<h1 daffArticleTitle>Menu</h1>
<p daffArticleLead>Menus are small overlays that float about the rest of a page's content. It's a flexible and extensible component used to add additional information without cluttering a page.</p>

<h2>Overview</h2>
<p>The menu contains minimal styles, allowing the content within it to be fluid and customizable.</p>

<h2>Usage</h2>

<h3>Menu with a custom template</h3>
<design-land-example-viewer-container example="menu-with-template"></design-land-example-viewer-container>

<h3>Menu using the list component</h3>
<design-land-example-viewer-container example="menu-with-component"></design-land-example-viewer-container>