@use 'theme' as *;

@mixin daffio-api-package-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$base-contrast: daff-get-base-color($theme, base-contrast);
	$mode: daff-get-theme-mode($theme);

	.daffio-api-package {
		&__subpackage-name {
			a {
				&:focus {
					border-radius: 0.25rem;
					box-shadow: 0 0 0 0.25rem rgba($base-contrast, 0.1);
					outline: none;
				}
			}

			@include light($mode) {
				&__subpackage-name {
					a {
						&:hover {
							color: daff-color($neutral, 80);
						}
					}
				}
			}

			@include dark($mode) {
				&__subpackage-name {
					a {
						&:hover {
							color: daff-color($neutral, 20);
						}
					}
				}
			}
		}
	}
}
