@use '../../../../../scss/type-descriptors/mixins' as type-mixin;
@use 'utilities' as daff;

:host {
	display: flex;
	flex-direction: column;
	gap: 48px;

	a {
		text-decoration: none;
	}
}

.daffio-api-package {
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__package-name {
		@include daff.headline-lg;

		> * {
			@include daff.text-truncate();

			@include daff.breakpoint(mobile) {
				display: inline;
			}
		}
	}

	&__package-description {
		@include daff.body-md;
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

	&__subpackage-name {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.375rem;

		@include daff.breakpoint(mobile) {
			font-size: 1.25rem;
			line-height: 1.75rem;
		}

		> * {
			@include daff.text-truncate();

			@include daff.breakpoint(mobile) {
				display: inline-block;
			}
		}
	}
}
