@use 'theme' as *;

@mixin daffio-api-directive-content-theme($theme) {
	$primary: daff-get-palette($theme, primary);
	$secondary: daff-get-palette($theme, secondary);

	.daffio-docs-api-directive-content {
		&__input-icon {
			color: daff-color($primary);
		}

		&__output-icon {
			color: daff-color($secondary);
		}
	}
}
