<daffio-header class="daffio-marketing-header">
  <a routerLink="/" daffio-logo>
    <daff-branding-logo type="full"></daff-branding-logo>
  </a>
  <daff-theme-switch-button theme-toggle></daff-theme-switch-button>
  <a daffioHeaderItem routerLink="{{ link.path }}" *ngFor="let link of links">{{ link.title }}</a>
  <a daffioHeaderItem href="https://github.com/sponsors/graycoreio" target="_blank">Sponsor</a>
  <a daff-button color="theme-contrast" size="sm" href="https://github.com/graycoreio/daffodil" rel="noopener noreferrer" target="_blank" quickstart-button>Get Started</a>
  <button daff-icon-button color="theme-contrast" aria-label="Open Main Navigation Sidebar"
    sidebar-button
    (click)="openSidebar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
</daffio-header>
