@use 'sass:map';
@use 'theme' as *;

@mixin daffio-docs-sidebar-footer-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$mode: daff-get-theme-mode($theme);

	.daffio-docs-sidebar-footer {
		@include light($mode) {
			border-top: 1px solid daff-color($neutral, 20);

			&::after {
				background: daff-color($neutral, 20);
			}
		}

		@include dark($mode) {
			border-top: 1px solid daff-color($neutral, 90);

			&::after {
				background: daff-color($neutral, 90);
			}
		}
	}
}
