@use 'utilities' as daff;

.daffio-docs-sidebar-footer {
	@include daff.clickable();
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	font-weight: 500;
	padding: 0.75rem;
	text-decoration: none;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 300ms;
		z-index: 0;
	}

	> * {
		z-index: 1;
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}
}
