<daff-sidebar class="daffio-sidebar" (escapePressed)="onClose()">
  <span class="daffio-sidebar__close" (click)="onClose()"><i class="fa fa-times"></i></span>
  <div class="daffio-sidebar__list">
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Women's</a></span>
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Men's</a></span>
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Accessories</a></span>
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Sale</a></span>
  </div>
</daff-sidebar>
