<daff-sidebar class="daffio-sidebar" (escapePressed)="onClose()">
  <span class="daffio-sidebar__close" (click)="onClose()"><i class="fa fa-times"></i></span>
  <div class="daffio-sidebar__list">
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Developers</a></span>
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Solutions</a></span>
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Documentation</a></span>
    <span><a daff-sidebar-item (click)="onClose()" routerLink="/">Support</a></span>
  </div>
</daff-sidebar>
