@use '../../../../../scss/type-descriptors/mixins' as type-mixin;
@use 'utilities' as daff;

$api-list-section-item-border-radius: 4px;

:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 8px 24px;

	@include daff.breakpoint(tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include daff.breakpoint(small-laptop) {
		grid-template-columns: repeat(3, 1fr);
	}

	a {
		text-decoration: none;
	}
}

.daffio-api-list-section {
	&__item {
		display: flex;
		align-items: center;
		gap: 16px;
		border-radius: $api-list-section-item-border-radius;
		font-weight: normal;
		justify-content: space-between;
		overflow: hidden;
		padding: 8px;
		position: relative;

		&::after {
			content: '';
			border-radius: $api-list-section-item-border-radius;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			transition: opacity 150ms;
			z-index: 1;
		}

		&:hover {
			text-decoration: none;
		}
	}

	&__item-name {
		@include daff.text-truncate();
	}

	&__item-label {
		@include type-mixin.type-label();
		flex: 0 0 auto;
		padding: 4px;
	}

	&__item-name,
	&__item-label {
		z-index: 2;
	}
}
