@use 'theme' as *;

@mixin daffio-api-list-section-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$base: daff-get-base-color($theme, base);
	$base-contrast: daff-get-base-color($theme, base-contrast);

	.daffio-api-list-section {
		&__item {
			color: $base-contrast;

			&:focus {
				box-shadow: 0 0 0 4px rgba($base-contrast, 0.1);
				outline: none;
			}

			&::after {
				background: daff-illuminate($base, $neutral, 2);
				opacity: 0;
			}

			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}
