@use 'theme' as daff-theme;

@mixin daffio-api-list-section-theme($theme) {
	$neutral: daff-theme.daff-map-get($theme, 'core', 'neutral');
	$base: daff-theme.daff-map-get($theme, 'core', 'base');
	$base-contrast: daff-theme.daff-map-get($theme, 'core', 'base-contrast');

	.daffio-api-list-section {
		&__item {
			color: $base-contrast;

			&:focus {
				box-shadow: 0 0 0 4px rgba($base-contrast, 0.1);
				outline: none;
			}

			&::after {
				background: daff-theme.daff-illuminate($base, $neutral, 2);
				opacity: 0;
			}

			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}
