<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Graycore CmsAiBuilder Unit Tests">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>Test</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
