@import 'utilities';

:host {
	display: block;
	overflow: hidden;

	@include breakpoint(big-tablet) {
		height: calc(100vh - 64px);
	}

	@include breakpoint(desktop) {
		height: 80vh;
	}
}

/* autoprefixer grid: autoplace */ /* stylelint-disable-line scss/comment-no-loud */
.daffio-home-hero {
	&__grid {
    display: grid;
    grid-template-columns: 1fr;
		grid-template-areas:
			'content';
		position: relative;

    @include breakpoint(big-tablet) {
      grid-template-columns: 560px 1fr;
			grid-template-areas:
				'content illustration';
    	grid-gap: 48px;
    }

    @include breakpoint(small-laptop) {
			grid-template-columns: 560px 1fr;
			grid-template-areas:
				'content illustration';
    	grid-gap: 48px;
    }
  }

	&__content {
		grid-area: content;
		align-self: center;
		z-index: 2;
	}

	&__illustration {
		display: none;
		grid-area: illustration;

		@include breakpoint(big-tablet) {
			display: block;
			position: absolute;
			right: -288px;
			top: -40px;
			width: 736px;
		}

		@include breakpoint(desktop) {
			top: -60px;
		}
	}
}