@use '@daffodil/design/scss/theme' as *;

@mixin daffio-home-hero-theme($theme) {
	$primary: daff-get-palette($theme, primary);
	$secondary: daff-get-palette($theme, secondary);
	$tertiary: daff-get-palette($theme, tertiary);
	$neutral: daff-get-palette($theme, neutral);
	$base-contrast: daff-get-base-color($theme, base-contrast);
	$white: daff-get-base-color($theme, 'white');
	$mode: daff-get-theme-mode($theme);

	.daffio-home-hero {
		@include daff-light-mode($mode) {
			background: url('/assets/hero-bg.svg');
		}

		@include daff-dark-mode($mode) {
			background: url('/assets/hero-bg-dark.svg');
		}

		&__gradient-text {
			background: linear-gradient(
				to bottom right,
				daff-color($primary),
				daff-color($secondary, 40),
				daff-color($tertiary, 30)
			);
			background-clip: text;
			color: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}
