<daff-hero color="theme">
  <daff-container size="md">
    <div class="daffio-home-hero__grid">
      <div class="daffio-home-hero__content">
        <p daffHeroTagline>
          Introducing Daffodil
        </p>
        <h1 daffHeroTitle>
          Headless ecommerce for the future
        </h1>
        <h2 daffHeroSubtitle>
          Build your store with ease and flexibility &mdash; take advantage of the cutting edge with Angular, Redux and Progressive Web Apps.
        </h2>
        <div daffHeroBody>
          <a href="https://github.com/graycoreio/daffodil" target="_blank" daff-button color="primary">Build with Daffodil</a>
        </div>
      </div>
      <div class="daffio-home-hero__illustration">
        <daff-image src="/assets/pwa-illustration.svg" alt="A person browsing a PWA ecommerce website on their phone" width="820" height="750"></daff-image>
      </div>
    </div>
  </daff-container>
</daff-hero>