@use 'utilities' as daff;

:host {
	display: block;
}

.daffio-home-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: bottom center;
	background-size: cover;

	@include daff.breakpoint(big-tablet) {
		height: 80vh;
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;
	}

	&__subtitle-focus {
		font-weight: 600;
	}

	&__code-copy {
		@include daff.clickable();
		appearance: none;
		backdrop-filter: blur(0.5rem);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		font-size: daff.$font-size-sm;
		border-radius: 2rem;
		margin: 3rem auto 0;
		padding: 0.5rem 1rem;

		@include daff.breakpoint(tablet) {
			padding: 1rem 1.5rem;
		}
	}
}
