@use 'theme' as daff-theme;
@forward 'theme';

$primary: daff-theme.daff-configure-palette(daff-theme.$daff-blue, 60);
$secondary: daff-theme.daff-configure-palette(daff-theme.$daff-purple, 60);
$tertiary: daff-theme.daff-configure-palette(daff-theme.$daff-turquoise, 60);

$theme: daff-theme.daff-configure-theme($primary, $secondary, $tertiary, 'light');

$primary-dark: daff-theme.daff-configure-palette(daff-theme.$daff-blue, 50);
$secondary-dark: daff-theme.daff-configure-palette(daff-theme.$daff-purple, 50);
$tertiary-dark: daff-theme.daff-configure-palette(daff-theme.$daff-turquoise, 50);

$theme-dark: daff-theme.daff-configure-theme($primary-dark, $secondary-dark, $tertiary-dark, 'dark');

$black: daff-theme.daff-map-deep-get($theme, "core.black");
$white: daff-theme.daff-map-deep-get($theme, "core.white");

