// DO NOT IMPORT THIS FILE ANYWHERE ELSE

@use 'sass:meta';
@use '@daffodil/design/scss/global';
@use '@daffodil/design/scss/theme' as daff-theme;
@use './component-themes' as daffio-components;
@use '@daffodil/design/scss/theme/default' as daff-default-theme;

// @daffodil/branding
@use '@daffodil/branding/scss/component-themes' as branding;

// @daffodil/docs
@use 'daff-docs-theme' as docs;

.daff-theme-light {
	background: var(--daff-base-bg);
	color: var(--daff-base-text);

	@include meta.load-css('highlight.js/scss/a11y-light');

	@include branding.daff-branding-theme(daff-default-theme.$theme);
	@include daff-theme.daff-component-themes(daff-default-theme.$theme);
	@include daffio-components.component-themes(daff-default-theme.$theme);
	@include docs.daff-docs-component-themes(daff-default-theme.$theme);
}

.daff-theme-dark {
	background: var(--daff-base-bg);
	color: var(--daff-base-text);

	@include meta.load-css('highlight.js/scss/a11y-dark');

	@include branding.daff-branding-theme(daff-default-theme.$theme-dark);
	@include daff-theme.daff-component-themes(daff-default-theme.$theme-dark);
	@include daffio-components.component-themes(daff-default-theme.$theme-dark);
	@include docs.daff-docs-component-themes(daff-default-theme.$theme-dark);
}

body {
	--daff-sidebar-side-fixed-top-shift: 64px;
}
