/***********************************
* DO NOT IMPORT THIS FILE ANYWHERE ELSE
************************************/

@use 'daff-global';

@use 'daffio-theme';
@use 'theme' as daff-theme;
@use './component-themes' as daffio-components;

// @daffodil/branding
@use 'daff-branding-theme' as branding;

.daff-theme-light {
	@import 'highlight.js/scss/a11y-light.scss';

	@include branding.daff-branding-theme(daffio-theme.$theme);
	@include daff-theme.daff-theme(daffio-theme.$theme);
  @include daffio-components.component-themes(daffio-theme.$theme);

	background: daffio-theme.$white;
	color: daffio-theme.daff-text-contrast(daffio-theme.$white);
}

.daff-theme-dark {
	@import 'highlight.js/scss/a11y-dark.scss';

	@include branding.daff-branding-theme(daffio-theme.$theme-dark);
	@include daff-theme.daff-theme(daffio-theme.$theme-dark);
  @include daffio-components.component-themes(daffio-theme.$theme-dark);

	background: daffio-theme.$black;
	color: daffio-theme.daff-text-contrast(daffio-theme.$black);

}
