/***********************************
* DO NOT IMPORT THIS FILE ANYWHERE ELSE
************************************/

// Imports
// @daffodil/design
@import 'daff-typography';
@import 'daff-theme';
@import 'daff-global';

// @daffodil/branding
@import 'daff-branding-theme';

@import "../app/content/homepage/component/homepage-theme.scss";
@import "../app/content/pwa/components/feature-comparison/feature-comparison-theme";
@import "../app/content/pwa/pages/pwa/pwa-theme";
@import "../app/core/footer/simple-footer/simple-footer-theme";
@import "../app/core/footer/sub-footer/sub-footer-theme";

@import "theme";

@include daff-theme($theme);

@include daff-branding-theme($theme);

@include daffio-homepage-theme($theme);
@include daffio-pwa-theme($theme);
@include daffio-simple-footer-theme($theme);
@include daffio-sub-footer-theme($theme);
@include daffio-feature-comparison-theme($theme);

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
