<daff-article>
  <h1 daffArticleTitle>Message Bar</h1>
  <p daffArticleLead>The <code>DaffMessageBarComponent</code> provides a way to display contextual information for user actions or system updates. Message bars should be placed near the top of the relevant section or page.</p>

  <h3>Accessibility</h3>
  <p>All message bars have an <code>aria-live</code> attribute set to <code>polite</code>. This allows the content of a message bar to be announced by assistive technology when it shown or updated.</p>
  <p>Message bars have a <code>tabindex=0</code> to allow users to focus on a message bar while tabbing through the page.</p>

  <h3>Default Message Bar</h3>
  <design-land-example-viewer example="default-message-bar"></design-land-example-viewer>

  <h3>Dismissable Message Bar</h3>
  <design-land-example-viewer example="dismissable-message-bar"></design-land-example-viewer>

  <h3>Message Bar with Action Buttons</h3>
  <design-land-example-viewer example="actionable-message-bar"></design-land-example-viewer>

  <h3>Flush Message Bar</h3>
  <design-land-example-viewer example="flush-message-bar"></design-land-example-viewer>
</daff-article>