<daff-callout textAlignment="center" color="theme">
  <daff-container size="md">
    <div daffCalloutTitle>
      Who's building PWAs?
    </div>
    <p daffCalloutSubtitle>
      Brands are increasingly utilizing Progressive Web Apps to bridge the gap between native apps and websites to create better user experiences.
    </p>
    <div daffCalloutBody>
      <div class="daffio-why-pwa-examples__card-grid">
        <a daff-stroked-card color="theme" href="https://eng.uber.com/m-uber/" target="_blank" rel="noopener noreferrer">
          <img daffCardImage src="/assets/why-pwa/uber-logo.svg" />
          <h4 daffCardTitle>Uber</h4>
          <div daffCardContent>
            <p>Uber built their PWA to minimize the client footprint while maintaining the rich experience of the native app.</p>
          </div>
        </a>
        <a daff-stroked-card color="theme" href="https://app.starbucks.com/" target="_blank" rel="noopener noreferrer">
          <img daffCardImage src="/assets/why-pwa/starbucks-logo.svg" />
          <h4 daffCardTitle>Starbucks</h4>
          <div daffCardContent>
            <p>The Starbucks PWA makes their service universally accessible to both established and emerging markets.</p>
          </div>
        </a>
        <a daff-stroked-card color="theme" href="https://lancome-usa.com" target="_blank" rel="noopener noreferrer">
          <img daffCardImage src="/assets/why-pwa/lancome-logo.svg" />
          <h4 daffCardTitle>Lanc&ocirc;me</h4>
          <div daffCardContent><p>Lanc&ocirc;me's PWA aimed to drive traffic and re-engagement, which ultimately saw a 17% increase in conversions.</p></div>
        </a>
      </div>
    </div>
  </daff-container>
</daff-callout>