@use 'utilities' as daff;

.daffio-why-pwa-examples {
	&__card-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 24px;

		@include daff.breakpoint(big-tablet) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 24px;
		}
	}
}
