<h1 daffArticleTitle>Paginator</h1>
<p daffArticleLead>Paginator is used to break up large amounts of content into multiple pages, enabling users to easily navigate between pages of content.</p>

<h2>Truncation</h2>
<p>An ellipsis is used to truncate pages when the number of pages exceed the maximum display limit. Double truncation appears when the current page is separated by more than three pages from both the first and last page.</p>

<h2>Accessibility</h2>
<p>Use <code>aria-label</code> or <code>aria-labelledby</code> to give a meaningful label to <code>daff-paginator</code> that describes the content controlled by the paginator. If more than one paginator component is used on a page, each will need a unique <code>aria-label</code>.</p>

<h2>Usage</h2>
<design-land-article-encapsulated>
  <design-land-example-viewer-container example="basic-paginator"></design-land-example-viewer-container>
</design-land-article-encapsulated>

<h3>Link Mode</h3>
<p>The paginator can be used in link mode which replaces the buttons with anchors. In link mode, pass the URL of the current collection page and optionally the name of the query param that will set the current page.</p>
<design-land-article-encapsulated>
  <design-land-example-viewer-container example="link-paginator"></design-land-example-viewer-container>
</design-land-article-encapsulated>
