<h1>Daff Paginator</h1>

<daff-paginator color="primary" aria-label="Primary" [numberOfPages]="numberOfPages" [currentPage]="primaryCurrentPage" (notifyPageChange)="onPageChange($event)"></daff-paginator>

<daff-paginator color="secondary" aria-label="Secondary" [numberOfPages]="numberOfPages" [currentPage]="secondaryCurrentPage" (notifyPageChange)="onPageChange1($event)"></daff-paginator>

<daff-paginator color="tertiary" aria-label="Tertiary" [numberOfPages]="numberOfPages" [currentPage]="tertiaryCurrentPage" (notifyPageChange)="onPageChange2($event)"></daff-paginator>

<daff-paginator color="theme" aria-label="Theme" [numberOfPages]="numberOfPages" [currentPage]="themeCurrentPage" (notifyPageChange)="onPageChange3($event)"></daff-paginator>

<daff-paginator color="theme-contrast" aria-label="Theme Contrast" [numberOfPages]="numberOfPages" [currentPage]="themeContrastCurrentPage" (notifyPageChange)="onPageChange4($event)"></daff-paginator>

<daff-paginator color="black" aria-label="Black" [numberOfPages]="numberOfPages" [currentPage]="blackCurrentPage" (notifyPageChange)="onPageChange5($event)"></daff-paginator>

<daff-paginator color="white" aria-label="White" [numberOfPages]="numberOfPages" [currentPage]="whiteCurrentPage" (notifyPageChange)="onPageChange6($event)"></daff-paginator>