<form [formGroup]="form" #ngForm="ngForm">
  <daff-form-field>
    <input daff-input type="text"
      placeholder="Daff Input Demo"
      [formControl]="form.controls['inputTest1']">
    @if (form.controls['inputTest1'].errors && (form.controls['inputTest1'].touched || ngForm.submitted)) {
      <daff-error-message>This is a required field >:(</daff-error-message>
    }
    @if (!(form.controls['inputTest1'].errors && (form.controls['inputTest1'].touched || ngForm.submitted))) {
      <div class="form__error-placeholder"></div>
    }
  </daff-form-field>
  <button daff-button type="submit" daff-button>Submit</button>
</form>

