@use 'sass:map';
@use 'daffio-theme' as theme;

@mixin daffio-feature-comparison-theme($theme){
    $secondary: map.get($theme, secondary);
    $base: theme.daff-map-deep-get($theme, "core.base");
    $base-contrast: theme.daff-map-deep-get($theme, "core.base-contrast");
    
    .feature-comparison {
        background: $base;
        box-shadow: 0 0 30px 0 rgba($base-contrast, 0.05);
        
        > * {
            &:nth-child(4n-2) {
                background: theme.daff-color($secondary);
                color: theme.daff-text-contrast(theme.daff-color($secondary));
            }
        }
    }
}
