<div class="daffio-feature-comparison">
  <div class="daffio-feature-comparison__header">Features</div>
  <div class="daffio-feature-comparison__header">PWA</div>
  <div class="daffio-feature-comparison__header">Native App</div>
  <div class="daffio-feature-comparison__header">Website</div>

  <div class="daffio-feature-comparison__cell">Offline Capability</div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faTimes"></fa-icon></div>

  <div class="daffio-feature-comparison__cell">Push Notifications</div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faTimes"></fa-icon></div>

  <div class="daffio-feature-comparison__cell">Home Screen Access</div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faTimes"></fa-icon></div>

  <div class="daffio-feature-comparison__cell">No Installation Required</div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faTimes"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>

  <div class="daffio-feature-comparison__cell">No Updates Required</div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faTimes"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>

  <div class="daffio-feature-comparison__cell">Searchable and Linkable</div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faTimes"></fa-icon></div>
  <div class="daffio-feature-comparison__cell"><fa-icon [icon]="faCheck"></fa-icon></div>
</div>