@use 'sass:map';
@use 'theme' as *;

@mixin daffio-feature-comparison-theme($theme) {
	$secondary: daff-get-palette($theme, secondary);
	$base: daff-get-base-color($theme, base);
	$base-contrast: daff-get-base-color($theme, base-contrast);

	.daffio-feature-comparison {
		background: $base;
		box-shadow: 0 0 30px 0 rgba($base-contrast, 0.05);

		> * {
			&:nth-child(4n-2) {
				background: daff-color($secondary);
				color: daff-text-contrast(daff-color($secondary));
			}
		}
	}
}
