<daff-container size="md">
  <div class="footer">
    <daff-list type="link" class="footer__links" *ngFor="let linkset of links">
      <h3 daff-list-subheader>{{ linkset.title }}</h3>
      <daff-list-item *ngFor="let link of linkset.links">
        <a daff-link color="black" routerLink="{{ link.path }}">{{ link.title }}</a>
      </daff-list-item>
    </daff-list>
    <div daff-button-set>
      <a daff-icon-button color="black" href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
      <a daff-icon-button color="black" href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      <a daff-icon-button color="black" href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</daff-container>
  