@import 'utilities';

:host {
	display: block;
	font-size: $small-font-size;
	padding: 48px 24px;

	@include breakpoint(tablet) {
		padding: 64px 48px;
	}

	@include breakpoint(small-laptop) {
		padding: 64px 0;
	}
}

.daffio-simple-footer {
	&__grid {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			'logo'
			'menu'
			'social';
		grid-gap: 16px;

		@include breakpoint(tablet) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'logo  logo'
				'menu  social';
			grid-gap: 24px;
		}

		@include breakpoint(big-tablet) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas: 'menu logo social';
			grid-gap: 48px;
		}
	}

	&__menu {
		grid-area: menu;
		display: flex;
		justify-content: center;

		@include breakpoint(big-tablet) {
			justify-content: flex-start;
		}
	}

	&__logo {
		grid-area: logo;
		display: flex;
		justify-content: center;
		width: 48px;
		margin: 0 auto;
	}

	&__social {
		grid-area: social;
		display: flex;
		justify-content: center;

		@include breakpoint(big-tablet) {
			justify-content: flex-end;
		}
	}

	&__link {
		@include embolden();
		@include uppercase();
		padding-right: 32px;
		text-decoration: none;

		&:last-child {
			padding-right: 0;
		}
	}

	&__social-icon {
		vertical-align: middle;

		margin-right: 8px;
	}

	&__copyright {
		display: block;
		text-align: center;
		margin-top: 32px;
	}
}
