<daff-container size="sm">
    <div class="simple-footer__grid">
      <div class="simple-footer__menu">
        <a routerLink="{{ link.path }}" *ngFor="let link of links" class="simple-footer__link">{{ link.title }}</a>
      </div>
      <a class="simple-footer__logo" routerLink="/">
        <daff-branding-logo type="icon"></daff-branding-logo>
      </a>
      <div class="simple-footer__social">
        <a href="https://github.com/graycoreio/daffodil" target="_blank" rel="noopener noreferrer" class="simple-footer__social-link">
          <fa-icon [icon]="['fab', 'github']" size="lg" aria-label="Github Logo"></fa-icon> <span>Github</span>
        </a>
        <a href="https://gitter.im/graycoreio/daffodil" target="_blank" rel="noopener noreferrer" class="simple-footer__social-link">
          <fa-icon [icon]="['fab', 'gitter']" size="lg" aria-label="Gitter Logo"></fa-icon> <span>Gitter</span>
        </a>
      </div>
    </div>
    <daff-branding-copyright class="simple-footer__copyright"></daff-branding-copyright>
  </daff-container>