@use 'utilities' as daff;

:host {
	display: block;
	font-size: daff.$small-font-size;
	padding: 24px;

	@include daff.breakpoint(big-tablet) {
		padding: 64px 48px;
	}

	@include daff.breakpoint(small-laptop) {
		padding: 64px 0;
	}
}

.daffio-simple-footer {
	&__grid {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			'logo'
			'menu'
			'social';
		grid-gap: 16px;

		@include daff.breakpoint(big-tablet) {
			grid-template-columns: 2fr 1fr 2fr;
			grid-template-areas: 'menu logo social';
			grid-gap: 48px;
		}
	}

	&__menu {
		grid-area: menu;
		display: flex;
		flex-wrap: wrap;
		gap: 8px 16px;
		justify-content: center;

		@include daff.breakpoint(big-tablet) {
			gap: 24px;
			justify-content: flex-start;
		}
	}

	&__logo {
		grid-area: logo;
		display: flex;
		justify-content: center;
		width: 48px;
		margin: 0 auto;
	}

	&__social {
		grid-area: social;
		display: flex;
		gap: 8px 16px;
		justify-content: center;

		@include daff.breakpoint(big-tablet) {
			gap: 24px;
			justify-content: flex-end;
		}
	}

	&__link {
		@include daff.embolden();
		@include daff.uppercase();
		text-decoration: none;
	}

	&__social-icon {
		vertical-align: middle;
		margin-right: 8px;
	}

	&__copyright {
		display: block;
		text-align: center;
		margin-top: 32px;
	}
}
