@use 'theme' as daff-theme;

@mixin daffio-simple-footer-theme($theme) {
	$neutral: daff-theme.daff-map-get($theme, 'core', 'neutral');
	$base: daff-theme.daff-map-get($theme, 'core', 'base');
	$base-contrast: daff-theme.daff-map-get($theme, 'core', 'base-contrast');

	.daffio-simple-footer {
		border-top: 1px solid daff-theme.daff-illuminate($base, $neutral, 2);

		&__copyright {
			color: daff-theme.daff-illuminate($base-contrast, $neutral, 4);
		}

		&__link {
			color: daff-theme.daff-text-contrast($base);
			transition: color 300ms;

			&:hover {
				color: daff-theme.daff-illuminate($base-contrast, $neutral, 3);
			}
		}
	}
}
