@let component = this.component();

<daff-viewport>
	<daff-sidebar class="daffio-sidebar" [mode]="mode()" [side]="component?.side || 'left'">
			@if (showSidebarHeader()) {
				<daff-sidebar-header [dismissible]="true">
					<ng-container [ngComponentOutlet]="component?.header" ngProjectAs="daff-sidebar-header"></ng-container>
				</daff-sidebar-header>
				}
		@if (component?.body) {
			<ng-container [ngComponentOutlet]="component.body" [ngComponentOutletInjector]="injector()"></ng-container>
		}
		@if (showSidebarFooter()) {
			<ng-container [ngComponentOutlet]="component?.footer" [ngComponentOutletInjector]="injector()" ngProjectAs="daff-sidebar-footer"></ng-container>
		}
	</daff-sidebar>
	<ng-container daff-viewport-nav>
		<ng-content select="[daff-viewport-nav]"></ng-content>
	</ng-container>
	<ng-content></ng-content>
	<ng-container daff-viewport-footer>
		<ng-content select="[daff-viewport-footer]"></ng-content>
	</ng-container>
</daff-viewport>
