<h1 daffArticleTitle>Toast</h1>
<p daffArticleLead>Toasts are typically time-sensitive notifications that are related to application level information.</p>

<h2>Overview</h2>
<p>Toasts should be used to display temporary messages about actions or events that occured, with no relation to content on a page. For messaging that provide context in close promixity to a piece of content within a page, use the <a routerLink="/notification">Notification</a> component.</p>

<h2>Default toast</h2>
<design-land-example-viewer-container example="default-toast"></design-land-example-viewer-container>

<h2>Toast Statuses</h2>
<design-land-example-viewer-container example="toast-status"></design-land-example-viewer-container>