<div class="feature-comparison">
  <div class="feature-comparison__header">Features</div>
  <div class="feature-comparison__header">PWA</div>
  <div class="feature-comparison__header">Native App</div>
  <div class="feature-comparison__header">Website</div>

  <div class="feature-comparison__cell">Offline Capability</div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'times']"></fa-icon></div>

  <div class="feature-comparison__cell">Push Notifications</div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'times']"></fa-icon></div>

  <div class="feature-comparison__cell">Home Screen Access</div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'times']"></fa-icon></div>

  <div class="feature-comparison__cell">No Installation Required</div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'times']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>

  <div class="feature-comparison__cell">No Updates Required</div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'times']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>

  <div class="feature-comparison__cell">Searchable and Linkable</div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'times']"></fa-icon></div>
  <div class="feature-comparison__cell"><fa-icon [icon]="['fa', 'check']"></fa-icon></div>
</div>