@use 'theme' as *;

@mixin daffio-ce-heading-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$success: daff-get-palette($theme, success);
	$mode: daff-get-theme-mode($theme);

	.daffio-ce-heading {
		color: daff-color($neutral, 90);

		@include light($mode) {
			&__icon {
				color: daff-color($neutral, 70);
			}
			&__copied {
				color: daff-color($success, 50);
			}
		}

		@include dark($mode) {
			&__icon {
				color: daff-color($neutral, 30);
			}

			&__copied {
				color: daff-color($success, 20);
			}
		}
	}
}
