.daffio-ce-heading {
	.daffio-ce-heading__anchor {
		display: flex;
		align-items: center;
		text-decoration: none;
		text-decoration-color: unset;
		color: unset;
	}

	&__icon {
		margin-left: 0.25rem;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	&__copied {
		animation: pulse 0.5s ease-in-out;
	}

	&:hover {
		.daffio-ce-heading__icon {
			opacity: 1;
		}
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
}
