.design-land {
  &__theme-switch {
    margin-left: auto;
  }
  
  &__sidebar {
    --daff-sidebar-side-fixed-top-shift: 64px;
    padding: 24px;
  }

  &__content {
    padding: 24px 48px 48px;
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

daff-link-set {
  margin: 0 0 24px 0;

  &:last-child {
    margin: 0;
  }
}