.design-land {
  &__theme-switch {
    display: flex;
    justify-content: right;
    margin-bottom: 24px;
  }

  &__sidebar {
    padding: 24px;
  }

  &__content {
    padding: 24px 48px 48px;
  }
}

daff-link-set {
  margin: 0 0 24px 0;

  &:last-child {
    margin: 0;
  }
}