<h1>Modal</h1>
<p>Modal is a dynamically rendered element that floats about the rest of a page's content. It can be especially useful for interstitials that require additional user feedback.</p>

<h2>Supported Content Types</h2>
<p>These components and directives help to structure the content in your modal.</p>
<p>The <code>DaffModalComponent</code> optionally transcludes:</p>
<ul>
	<li><code>daff-modal-header</code>: component that places the <code>&lt;daffModalTitle&gt;</code> with styles to
		handle the placement of an optional actionable icon.</li>
	<li><code>daffModalTitle</code>: directive for modal title that can be applied to a heading element
		(<code>&lt;h2&gt;</code>, &lt;h3&gt;, etc.)</li>
	<li><code>daff-modal-content</code>: scrollable component to place the primary content in modal.</li>
	<li><code>daff-modal-actions</code>: component to help place actionable components like buttons or links.</li>
</ul>

<h2>Usage</h2>
<daff-docs-example-viewer-container example="basic-modal"></daff-docs-example-viewer-container>
