/***********************************
* DO NOT IMPORT THIS FILE ANYWHERE ELSE
************************************/

// Imports
@import 'daff-typography';
@import 'daff-theme';
@import 'daff-global';

@import "theme";

@include daff-theme($theme);

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
