/***********************************
* DO NOT IMPORT THIS FILE ANYWHERE ELSE
************************************/

// Imports
@import 'daff-global';
@import 'daff-typography';
@import 'daff-theme';

@import "theme";

@include daff-theme($theme);
@import '~highlight.js/styles/github.css';

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
