@import 'utilities';
@import 'theme';

.demo-cart-summary {
	display: flex;
	flex-direction: column;

	&__header {
		font-size: 1rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@include breakpoint(big-tablet) {
			@include section-divider();
			padding-bottom: 10px;
		}
	}

	&__title {
		@include embolden();
	}

	&__minicart {
		padding: 25px 0;

		> * {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__edit-cart {
		grid-area: edit;
		justify-self: right;
		font-size: $small-font-size;
		text-decoration: underline;
		@include clickable();

		@include breakpoint(big-tablet) {
			display: none;
		}
	}

	&__item-count {
		float: right;
		color: daff-color($daff-gray, 80);
		font-size: $small-font-size;
	}
}
