@import 'daff-util';

$phone-color: $white;

.laptop {
    position: relative;
    &__frame {
        background: $phone-color;
        box-shadow:
            inset 0 -5px 15px rgba($gray,0.15), 
            0 2px 5px 0 rgba($gray,0.2),
            0 0 25px 10px rgba($gray,0.05);
        border-radius: 4%/5%;
        padding: 4%;
        margin: 0 10.5%;

        > * {
            display: block;
            width: 100%;
        }
    }

    &__bottom {
        position: absolute;
        display: block;
        width: 100%;
        bottom: -5px;
        background: $phone-color;
        box-shadow:
            inset 0 0 1px rgba($white,0.5),
            inset 0 -3px 5px rgba($gray,0.05), 
            0 1px 0px 0 rgba($gray,0.05),
            0px 6px 10px -4px rgba($gray, 0.4),
            0 -1px 0 0 $white;
        border-radius: 0 0 20% 20%/ 0 0 90% 90%;
        padding: 0 0 2% 0;
    }
}