@import 'daff-util';

.navbar {
  justify-content: space-between;
  padding: 25px;

  @include breakpoint(mobile) {
    padding: 25px 50px;
  }

  @include breakpoint(small-laptop) {
    padding: 25px 0;
  }
}

.daffio-header {
  display: block;

  &__item {
    padding: 0 30px;
    font-size: $medium-font-size;
  }

  &__menu {
    display: none;
    margin: 0;
    padding: 0;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    margin-left: 15px;
  }

  &__logo {
    width: 125px;

    @include breakpoint(mobile) {
      width: 150px;
    }
  }

  &__bars {
    display: flex;
    margin-right: -13px;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}