<daff-container size="medium"> 
  <daff-navbar class="daffio-header">
    <div class="daffio-header__logo">
      <ng-content select="[daffio-logo]"></ng-content>
    </div>
    <div class="daffio-header__menu">
      <ng-content select="[daffio-header-item]"></ng-content>
    </div>
    <div class="daffio-header__bars">
      <ng-content select="[sidebar-button]"></ng-content>
    </div>
    <div class="daffio-header__button">
      <ng-content select="[quickstart-button]"></ng-content>
    </div>
  </daff-navbar>
</daff-container>