@import 'daff-util';

.daffio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 100%;

  @include breakpoint(big-tablet) {
    padding: 25px 50px;
  }

  @include breakpoint(laptop) {
    padding: 25px 0;
  }

  &__menu {
    display: none;
    margin: 0;
    padding: 0;

    @include breakpoint(big-tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__menu-item {
    color: $black;
    padding: 0 30px;
    text-decoration: none;
  }

  &__button {
    display: none;

    @include breakpoint(mobile) {
      display: inline-block;
    }
  }

  &__bars {
    display: flex;
    align-items: center;

    @include breakpoint(big-tablet) {
      display: none;
    }
  }
}