<daff-container size="medium">  
  <div class="daffio-header">
    <daff-logo></daff-logo>
    <span class="nav-spacer"></span>
    <div class="daffio-header__right">
      <div class="daffio-header__menu">
        <a href="#" target="_blank" rel="noopener noreferrer" class="daffio-header__menu-item">Developers</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="daffio-header__menu-item">Solutions</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="daffio-header__menu-item">Documentation</a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="daffio-header__menu-item">Support</a>
      </div>
      <span class="daffio-header__button">
        <button type="button" daff-button>Get Started</button>
      </span>
      <div class="daffio-header__bars">
        <ng-content select="[sidebar-button]"></ng-content>
      </div>
    </div>
  </div>
</daff-container>