@import 'utilities';
@import 'theme';

.demo-thank-you {
	padding: 25px 0;
	@include section-divider();

	@include breakpoint(big-tablet) {
		padding: 50px 0;
		border-top: 1px solid daff-color($daff-gray, 20);
	}

	&__title {
		@include embolden();
		@include uppercase();
	}

	&__body {
		margin: 25px 0 50px;

		span {
			@include embolden();
		}
	}
}
