@import 'daff-util';

.thank-you {
  display: grid;
  grid-gap: 20px;
  padding: 30px 0px;
  @include section-divider();

  @include breakpoint(big-tablet) {
    padding: 50px 0px;
    border-top: 1px solid daff-color($daff-gray, 300);
  }
  
  &__title {
    @include embolden();
    @include uppercase();
  }
}