@import 'daff-util';

.add-to-cart-notification {
  background-color: $white;
  padding: 25px;
  position: relative;
  width: 100vw;

  @include breakpoint(tablet) {
    width: 600px;
  }

  &__top-bar {
    margin-bottom: 25px;
    @include embolden();
    @include uppercase();
  }

  &__check-icon {
    margin-right: 15px;
    font-size: $medium-font-size;
  }

  &__times-icon {
    position: absolute;
    right: 25px;
    font-size: $medium-font-size;
    cursor: pointer;
  }

  &__product-added {
    display: block;
    max-height: 300px;
    margin-bottom: 10px;
  }

  &__button-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
    > * {
      @include embolden();
    }
  }
}
