@import 'utilities';
@import "theme";

.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 25px;

  @include breakpoint(big-tablet) {
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
    padding: 75px 50px;
  }

  @include breakpoint(laptop) {
    padding: 75px 0;
  }

  &__header {
    @include section-divider();
    padding-bottom: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include breakpoint(big-tablet) {
      justify-content: flex-start;
    }
  }

  &__title {
    @include embolden();
    @include uppercase();
  }

  &__item-count {
    color: daff-color($daff-gray, 80);
    font-size: $small-font-size;

    @include breakpoint(big-tablet) {
      margin-left: 15px;
    }
  }

  &__button {
    margin: 25px 0 0 0;
    justify-content: center;
    width: 100%;
    font-size: $medium-font-size;
  }

  &__summary {
    margin: 25px 0 50px 0;

    @include breakpoint(big-tablet) {
      margin: 0 0 50px 0;
    }
  }
  
  &__summary-title {
    display: none;
    @include embolden();
    @include uppercase();

    @include breakpoint(big-tablet) {
      display: block;
      padding-bottom: 15px;
      margin-bottom: 25px;
      @include section-divider();
    }
  }
  
  &__cart-totals {
    margin: 15px 0;

    @include breakpoint(big-tablet) {
      margin: 0;
    }
  }

  &__help-box {
    display: block;
  }
}