<div class="cart-wrapper">
  <div class="cart-wrapper__main">
    <div class="cart-wrapper__header">
      <span class="cart-wrapper__title">Your Cart</span>
      <span class="cart-wrapper__item-count" [ngPlural]="itemCount$ | async">
        {{(itemCount$ | async)}}
        <ng-template ngPluralCase="other">Items</ng-template>
        <ng-template ngPluralCase="=1">Item</ng-template>
      </span>
    </div>
    <demo-cart [cart]="cart"></demo-cart>
  </div>
  <div class="cart-wrapper__sidebar">
    <div class="cart-wrapper__summary" *ngIf="!(isCartEmpty$ | async)">
      <div class="cart-wrapper__summary-title">Cart Summary</div>
      <demo-cart-totals class="cart-wrapper__cart-totals" [cart]="cart"></demo-cart-totals>
      <button type="button" daff-button color="secondary" class="cart-wrapper__button" demoProceedToCheckout>
        Proceed to Checkout
      </button>
    </div>
    <demo-help-box class="cart-wrapper__help-box"></demo-help-box>
  </div>
</div>