<daff-callout textAlignment="center">
  <daff-container size="md">
    <h3 daffCalloutTitle>
      The best solution for ecommerce
    </h3>
    <p daffCalloutSubtitle>
      PWAs are a rapidly developing technology that sees continuous progressive enhancements. It's on the fast-track to become the new standard for mobile-first solutions.
    </p>
    <div daffCalloutBody>
      <div class="daffio-why-pwa-solution__grid">
        <daffio-feature-comparison class="daffio-why-pwa-solution__feature-comparison"></daffio-feature-comparison>
        <daff-list type="multi-line" class="daffio-why-pwa-solution__list">
          <daff-list-item>
            <h4>Lower cost of production and maintenance</h4>
            <p>Built as webpages, PWAs' cost of development is much lower than native apps. Independent of operating systems or marketplaces, updates are done automatically and PWAs eliminate the need for super-specialized developers.</p>
          </daff-list-item>
          <daff-list-item>
            <h4>Business Independence</h4>
            <p>PWAs are free of marketplace fees and control. There is no 30% commission fee, and you are able to deliver features directly to customers without marketplace interference.</p>
          </daff-list-item>
        </daff-list>
      </div>
    </div>
  </daff-container>
</daff-callout>