@use 'utilities' as daff;

/* stylelint-disable-line scss/comment-no-loud */
.daffio-sub-footer {
	display: block;

	&__body {
		text-align: center;
	}

	&__actions {
		display: inline-grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			'repo'
			'discord';
		grid-gap: 16px;

		@include daff.breakpoint(tablet) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 'repo discord';
			grid-gap: 16px;
		}

		>* {
			&:nth-child(1) {
				grid-area: repo;
			}

			&:nth-child(2) {
				grid-area: discord;
			}
		}
	}
}
