<daff-callout layout="centered">
  <daff-container size="md">
    <h4 daffCalloutTitle class="sub-footer__content">
      Join the community and get involved with Daffodil.
    </h4>
    <daff-button-set class="sub-footer__button-set">
      <a href="https://github.com/graycoreio/daffodil" target="_blank" rel="noopener noreferrer" daff-raised-button color="secondary">Explore Daffodil</a>
      <a href="https://gitter.im/graycoreio/daffodil" target="_blank" rel="noopener noreferrer" daff-raised-button color="white">Join the Conversation</a>
    </daff-button-set>
  </daff-container>
</daff-callout>