@use 'sass:map';
@use 'theme' as daff-theme;

@mixin daffio-sub-footer-theme($theme) {
	$secondary: daff-theme.daff-map-get($theme, secondary);

	.daffio-sub-footer {
		background: linear-gradient(
			to bottom right,
			daff-theme.daff-color($secondary, 80),
			daff-theme.daff-color($secondary, 50)
		);
		color: daff-theme.$white;

		&__content {
			color: daff-theme.$white;
		}
	}
}
