<daff-callout textAlignment="center" class="daffio-sub-footer">
  <daff-container size="md">
    <h4 daffCalloutTitle class="daffio-sub-footer__content">
      Join the community and get involved with Daffodil
    </h4>
    <div daffCalloutBody class="daffio-sub-footer__body">
      <div class="daffio-sub-footer__actions">
        <a [href]="repoLink" target="_blank" rel="noopener noreferrer" daff-button color="white">Explore Daffodil</a>
        <a [href]="discordLink" target="_blank" rel="noopener noreferrer" daff-stroked-button color="white">Join the Conversation</a>
      </div>
    </div>
  </daff-container>
</daff-callout>
