<daff-callout textAlignment="center" color="theme">
  <daff-container size="md">
    <div daffCalloutTitle>
      Understanding PWAs
    </div>
    <p daffCalloutSubtitle>
      Don't just take our word for it. Check out the statistics and see how Progressive Web Apps have helped your competitors improve their presence on the web.
    </p>
    <div daffCalloutBody class="daffio-why-pwa-stats__card-grid">
      <a daff-raised-card color="secondary" href="https://developers.google.com/web/showcase/vertical/#retail" target="_blank" rel="noopener noreferrer">
        <fa-icon daffCardIcon [icon]="faFileAlt" size="lg"></fa-icon>
        <div daffCardTagline>Google Developers</div>
        <div daffCardTitle>
          PWA Case Studies
        </div>
        <div daffCardContent>
          <p>Learn why and how developers have used the web to create amazing web experiences for their users.</p>
        </div>
      </a>
      <a daff-raised-card color="secondary" href="https://www.pwastats.com/" target="_blank" rel="noopener noreferrer">
        <fa-icon daffCardIcon [icon]="faChartBar" size="lg"></fa-icon>
        <p daffCardTagline>PWA Stats</p>
        <div daffCardTitle>
          PWA Conversion Stats
        </div>
        <div daffCardContent>
          <p>Review a community-driven list of stats and news focused on Progressive Web Apps.</p>
        </div>
      </a>
    </div>
  </daff-container>
</daff-callout>