.daffio-docs-heading-link {
	$root: &;
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	text-decoration: none;

	#{$root}__icon {
		visibility: hidden;
		opacity: 0;
		transition: opacity 200ms ease;
	}

	&:hover {
		#{$root}__icon {
			visibility: visible;
			opacity: 1;
		}
	}
}
