@mixin daffio-api-list-theme($theme){
	$primary: map-get($theme, primary);
	$secondary: map-get($theme, secondary);
	$tertiary: map-get($theme, tertiary);
	$base: daff-map-deep-get($theme, "core.base");
	$base-contrast: daff-map-deep-get($theme, "core.base-contrast");

	.daffio-api-list {
		&__package-name {
			> * {
				&:focus {
					border-radius: 4px;
					box-shadow: 0 0 0 4px rgba($base-contrast, 0.1);
					outline: none;
				}
			}

			&:hover {
				color: daff-illuminate($base-contrast, $daff-gray, 3);
			}
		}

		&__item {
			&:focus {
				box-shadow: 0 0 0 4px rgba($base-contrast, 0.1);
				outline: none;
			}

			&:hover {
				background: daff-illuminate($base, $daff-gray, 2);
			}
		}
	}
}
