@import 'utilities';

:host {
	display: block;
	padding: 16px;
}

.api-list {
	&__package {
		margin: 15px 0 40px 0;
	}

	&__package-name {
		@include embolden();
		font-size: 1.25rem;
		line-height: 1.25em;
		margin-bottom: 10px;
	}
}

.api-list-item {
	margin: 5px 0;

	&__title {
		align-items: center;
		display: flex;
	}

	&__name {
		width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
	}

	&__label {
		@include type-label();
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2em;
		margin-right: 10px;
		width: 2em;
	}

	&__children {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
