@use '../../../../scss/type-descriptors/mixins' as type-mixin;
@use 'utilities' as daff;

:host {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
	}
}

.daffio-api-list {
	&__package {
		display: flex;
		flex-direction: column;
		margin: 0 0 48px;

		&:last-child {
			margin: 0;
		}
	}

	&__package-name {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.375rem;
		margin: 0 0 24px;

		@include daff.breakpoint(mobile) {
			font-size: 1.25rem;
			line-height: 1.75rem;
		}

		> * {
			@include daff.single-line-ellipsis();

			@include daff.breakpoint(mobile) {
				display: inline-block;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 8px 24px;

		@include daff.breakpoint(tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include daff.breakpoint(small-laptop) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		display: flex;
		align-items: center;
		border-radius: 4px;
		justify-content: space-between;
		overflow: hidden;
		padding: 8px;
		transition: background-color 300ms;
}

	&__item-name {
		@include daff.single-line-ellipsis();
	}

	&__item-label {
		@include type-mixin.type-label();
		height: 1.5rem;
		padding: 4px;
		margin-left: 16px;
	}
}
