@import 'utilities';

:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 48px;

	a {
		text-decoration: none;
	}
}

.daffio-api-list {
	&__package {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 24px;
	}

	&__package-name {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.5rem;
		overflow: hidden;

		> * {
			@include single-line-ellipsis();
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 8px 24px;

		@include breakpoint(tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include breakpoint(small-laptop) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		display: flex;
		align-items: center;
		border-radius: 4px;
		justify-content: space-between;
		overflow: hidden;
		padding: 8px;
		transition: background-color 300ms;
}

	&__item-name {
		@include single-line-ellipsis();
	}

	&__item-label {
		@include type-label();
		height: 1.5rem;
		padding: 4px;
		margin-left: 16px;
	}
}
