<h1>Loading Icon</h1>
<p>Loading icons are used as an indicator of an event in progress.</p>

<h2>Overview</h2>
<p>Loading icons are used to indicate to users that an event is ocurring and is still in progress. They should only be used for short loading processes. For events that can take a considerable amount of time, use the <a routerLink="/progress-bar">Progress Bar</a> component instead.</p>

<h2>Theming</h2>
<p>The loading icon color is defined by using the <code>color</code> property. By default, the color is set to <code>primary</code>. This can be changed to one of the supported colors.</p>

<p>Supported colors: <code>primary | secondary | tertiary | black | white | theme | theme-contrast</code></p>

<design-land-example-viewer-container example="loading-icon-color"></design-land-example-viewer-container>

<h2>Accessibility</h2>
<p>Loading icons should be given meaningful labels by using <code>aria-label</code> or <code>aria-labelledby</code>. Additionally, if a loading icon is used to indicate a process in progress, using <a href="https://www.w3.org/TR/wai-aria-1.0/states_and_properties#aria-live" target="_blank"><code>aria-live</code></a> and <a href="https://www.w3.org/TR/wai-aria-1.0/states_and_properties#aria-busy" target="_blank"><code>aria-busy</code></a> should be strongly considered.</p>
