@let compOrLink = link();
@if (isComponent(compOrLink)) {
	<ng-container [ngComponentOutlet]="compOrLink" [ngComponentOutletInputs]="{type: type()}"></ng-container>
} @else if (compOrLink.external) {
	@switch (type()) {
		@case ('list') {
			<a daff-list-item [href]="compOrLink.url" target="_blank">{{compOrLink.title}}</a>
		}
		@case ('header') {
			<a daffioHeaderItem [href]="compOrLink.url" target="_blank">{{compOrLink.title}}</a>
		}
	}
} @else {
	@switch (type()) {
		@case ('list') {
			<a daff-list-item [routerLink]="compOrLink.url">{{ compOrLink.title }}</a>
		}
		@case ('header') {
			<a daffioHeaderItem [routerLink]="compOrLink.url" [active]="rla.isActive" routerLinkActive #rla="routerLinkActive">{{ compOrLink.title }}</a>
		}
	}
}
