@use 'utilities';

.demo-checkout-shipping-address-form {
	display: flex;
	flex-direction: column;

	&__title {
		@include embolden();
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__button {
		width: 100%;

		@include breakpoint(mobile) {
			width: 50%;
		}
	}
}
