@import 'daff-util';

.daffio-logo {
  display: flex;
  align-items: center;

  svg {
    display: block;
    width: 100%;
  }
}

.cls-1 {
  fill:#2d3047;
}

.cls-2 {
  fill: url(#linear-gradient);
}

.cls-3 {
  fill: url(#linear-gradient-2);
}

.cls-4 {
  fill:url(#linear-gradient-3);
}

.cls-5 {
  fill:#fff000;
}
.cls-6 {
  fill:#ff8500;
}

.cls-7 {
  fill:#ffc000;
}

.st0 {
  fill:#FFF000;
}
.st1 {
  fill:url(#icon_gradient_1);
}
.st2 {
  fill:url(#icon_gradient_2);
}
.st3 {
  fill:url(#icon_gradient_3);
}
.st4 {
  fill:#FF8500;
}
.st5 {
  fill:#FFC000;
}