@use '@daffodil/design/scss/utilities' as *;

.demo-payment-info-form {
	display: grid;
	column-gap: 10px;
	row-gap: 15px;

	@include breakpoint(big-tablet) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'  card-number   card-number'
			'        month          year'
			'security-code security-code';

		&__card-number {
			grid-area: card-number;
		}

		&__month {
			grid-area: month;
		}

		&__year {
			grid-area: year;
		}

		&__security-code {
			grid-area: security-code;
		}
	}
}
