<daff-callout color="theme" textAlignment="center">
  <daff-container size="md">
    <div daffCalloutTagline>
      Built with community support
    </div>
    <h3 daffCalloutTitle>
      Sponsors
    </h3>
    <p daffCalloutSubtitle>
      Interested in becoming an early sponsor? Your support helps us maintain and improve Daffodil.
    </p>
    <div daffCalloutBody>
      <div class="daffio-home-callout-sponsors__logo-wrapper">
        <a class="daffio-home-callout-sponsors__logo" href="https://www.develodesign.co.uk/" target="_blank">
          <img daff-image class="daffio-home-callout-sponsors__logo-image" ngSrc="/assets/sponsors/develo.svg" width="151" height="37" alt="Develo" />
        </a>
        <a href="https://github.com/sponsors/graycoreio" class="daffio-home-callout-sponsors__link" target="_blank" color="theme-contrast">
          Become a sponsor
        </a>
      </div>  
    </div>
  </daff-container>
</daff-callout>