@use 'sass:map';
@use 'theme' as daff-theme;
@use 'utilities' as daff;

// stylelint-disable selector-class-pattern
@mixin type-theming($color, $opacity: 0.1) {
	background: rgba($color, $opacity);
	color: $color;
}

@mixin daffio-api-item-label-theme($theme) {
	$primary: daff-theme.daff-map-get($theme, primary);
	$secondary: daff-theme.daff-map-get($theme, secondary);
	$tertiary: daff-theme.daff-map-get($theme, tertiary);
	$critical: daff-theme.daff-map-get($theme, critical);
	$base: daff-theme.daff-map-get($theme, 'core', 'base');
	$base-contrast: daff-theme.daff-map-get(
		daff-theme.$theme,
		'core',
		'base-contrast'
	);
	$type: daff-theme.daff-map-get($theme, 'core', 'type');

	.daffio-docs-api-item-label {
		&.class {
			@include type-theming(daff-theme.daff-color($primary));
		}

		&.type-alias {
			@include type-theming(daff-theme.daff-color($secondary));
		}

		&.interface {
			@include type-theming(daff-theme.daff-color($tertiary));
		}

		&.const {
			@include type-theming(
				daff-theme.daff-illuminate($base-contrast, $secondary, 3)
			);
		}

		&.enum {
			@include type-theming(
				daff-theme.daff-illuminate($base-contrast, $primary, 3)
			);
		}

		&.package {
			@include type-theming(
				daff-theme.daff-illuminate($base-contrast, daff-theme.$daff-yellow, 3)
			);
		}

		&.function {
			@include type-theming(
				daff-theme.daff-illuminate($base-contrast, $tertiary, 3)
			);
		}

		&.deprecated {
			@include daff-theme.light($type) {
				@include type-theming(daff-theme.daff-color($critical, 70));
			}

			@include daff-theme.dark($type) {
				@include type-theming(daff-theme.daff-color($critical, 40), 0.15);
			}
		}
	}
}
