@use 'sass:map';
@use 'theme' as *;
@use '@daffodil/design/scss/utilities' as daff;

// stylelint-disable selector-class-pattern
@mixin type-theming($color, $opacity: 0.05) {
	background: rgba($color, $opacity);
	color: $color;
}

@mixin daffio-api-item-label-theme($theme) {
	$primary: daff-get-palette($theme, primary);
	$secondary: daff-get-palette($theme, secondary);
	$tertiary: daff-get-palette($theme, tertiary);
	$green: daff-get-palette($theme, success);
	$yellow: daff-get-palette($theme, warn);
	$red: daff-get-palette($theme, critical);
	$mode: daff-get-theme-mode($theme);

	.daffio-docs-api-item-label {
		@include light($mode) {
			// Angular Framework
			&.component {
				@include type-theming(daff-color($primary, 90));
			}

			&.directive {
				@include type-theming(daff-color($primary, 80));
			}

			&.pipe {
				@include type-theming(daff-color($primary));
			}

			&.service {
				@include type-theming(daff-color($primary, 70));
			}

			&.module {
				@include type-theming(daff-color($secondary));
			}

			&.guard {
				@include type-theming(daff-color($secondary, 80));
			}

			&.resolver {
				@include type-theming(daff-color($secondary, 100));
			}

			// Redux / State Management
			&.reducer {
				@include type-theming(daff-color($tertiary));
			}

			&.action {
				@include type-theming(daff-color($tertiary, 70));
			}

			&.facade {
				@include type-theming(daff-color($tertiary, 100));
			}

			&.selector {
				@include type-theming(daff-color($tertiary, 80));
			}

			// DI & Providers
			&.provider {
				@include type-theming(daff-color($secondary, 70));
			}

			&.token {
				@include type-theming(daff-color($secondary, 90));
			}

			// RxJS
			&.operator {
				@include type-theming(daff-color($yellow, 80));
			}

			// Types & Constants
			&.error {
				@include type-theming(daff-color($red, 90));
			}

			&.type {
				@include type-theming(daff-color($yellow, 90));
			}

			&.constant {
				@include type-theming(daff-color($green, 90));
			}

			&.helper {
				@include type-theming(daff-color($yellow, 100));
			}

			// Testing
			&.model-factory {
				@include type-theming(daff-color($green, 70));
			}

			&.mock {
				@include type-theming(daff-color($green, 80));
			}

			// Meta
			&.package {
				@include type-theming(daff-color($yellow, 70));
			}

			&.deprecated {
				@include type-theming(daff-color($red, 70));
			}
		}

		@include dark($mode) {
			// Angular Framework
			&.component {
				@include type-theming(daff-color($primary, 10), 0.1);
			}

			&.directive {
				@include type-theming(daff-color($primary, 20), 0.1);
			}

			&.pipe {
				@include type-theming(daff-color($primary, 50), 0.1);
			}

			&.service {
				@include type-theming(daff-color($primary, 30), 0.1);
			}

			&.module {
				@include type-theming(daff-color($secondary, 50), 0.1);
			}

			&.guard {
				@include type-theming(daff-color($secondary, 30), 0.1);
			}

			&.resolver {
				@include type-theming(daff-color($secondary, 10), 0.1);
			}

			// Redux / State Management
			&.reducer {
				@include type-theming(daff-color($tertiary, 50), 0.1);
			}

			&.action {
				@include type-theming(daff-color($tertiary, 30), 0.1);
			}

			&.facade {
				@include type-theming(daff-color($tertiary, 10), 0.1);
			}

			&.selector {
				@include type-theming(daff-color($tertiary, 20), 0.1);
			}

			// DI & Providers
			&.provider {
				@include type-theming(daff-color($secondary, 30), 0.1);
			}

			&.token {
				@include type-theming(daff-color($secondary, 10), 0.1);
			}

			// RxJS
			&.operator {
				@include type-theming(daff-color($yellow, 20), 0.1);
			}

			// Types & Constants
			&.error {
				@include type-theming(daff-color($red, 20), 0.1);
			}

			&.type {
				@include type-theming(daff-color($yellow, 20), 0.1);
			}

			&.constant {
				@include type-theming(daff-color($green, 20), 0.1);
			}

			&.helper {
				@include type-theming(daff-color($yellow, 10), 0.1);
			}

			// Testing
			&.model-factory {
				@include type-theming(daff-color($green, 30), 0.1);
			}

			&.mock {
				@include type-theming(daff-color($green, 20), 0.1);
			}

			// Meta
			&.package {
				@include type-theming(daff-color($yellow, 30), 0.1);
			}

			&.deprecated {
				@include type-theming(daff-color($red, 30), 0.15);
			}
		}
	}
}
