@use 'sass:map';
@use 'theme' as daff-theme;
@use 'utilities' as daff;

// stylelint-disable selector-class-pattern
@mixin type-theming($color, $opacity: 0.1) {
	background: rgba($color, $opacity);
	color: $color;
}

@mixin daffio-api-item-label-theme($theme) {
	$primary: daff-theme.daff-map-get($theme, primary);
	$secondary: daff-theme.daff-map-get($theme, secondary);
	$tertiary: daff-theme.daff-map-get($theme, tertiary);
	$green: daff-theme.daff-map-get($theme, success);
	$yellow: daff-theme.daff-map-get($theme, warn);
	$red: daff-theme.daff-map-get($theme, critical);
	$base: daff-theme.daff-map-get($theme, 'core', 'base');
	$base-contrast: daff-theme.daff-map-get(
		daff-theme.$theme,
		'core',
		'base-contrast'
	);
	$type: daff-theme.daff-map-get($theme, 'core', 'type');

	.daffio-docs-api-item-label {
		@include daff-theme.light($type) {
			&.class {
				@include type-theming(daff-theme.daff-color($primary, 70));
			}

			&.type-alias {
				@include type-theming(daff-theme.daff-color($secondary, 70));
			}

			&.interface {
				@include type-theming(daff-theme.daff-color($tertiary, 70));
			}

			&.const {
				@include type-theming(daff-theme.daff-color($secondary, 90));
			}

			&.enum {
				@include type-theming(daff-theme.daff-color($primary, 90));
			}

			&.package {
				@include type-theming(daff-theme.daff-color($yellow, 70));
			}

			&.function {
				@include type-theming(daff-theme.daff-color($green, 90));
			}

			&.deprecated {
				@include type-theming(daff-theme.daff-color($red, 70));
			}
		}

		@include daff-theme.dark($type) {
			&.class {
				@include type-theming(daff-theme.daff-color($primary, 40));
			}

			&.type-alias {
				@include type-theming(daff-theme.daff-color($secondary, 40));
			}

			&.interface {
				@include type-theming(daff-theme.daff-color($tertiary, 40));
			}

			&.const {
				@include type-theming(daff-theme.daff-color($secondary, 20));
			}

			&.enum {
				@include type-theming(daff-theme.daff-color($primary, 20));
			}

			&.package {
				@include type-theming(daff-theme.daff-color($yellow, 40));
			}

			&.function {
				@include type-theming(daff-theme.daff-color($green, 20));
			}

			&.deprecated {
				@include type-theming(daff-theme.daff-color($red, 40), 0.15);
			}
		}
	}
}
