<h1>Daff List</h1>

<h2>Simple List</h2>
<daff-list>
  <h3 daffListSubheader>Lorem Ipsum</h3>
  <daff-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</daff-list-item>
  <daff-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</daff-list-item>
  <daff-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</daff-list-item>
</daff-list>

<h3>List Types</h3>

<h4>Link List</h4>

<daff-list type="link">
  <h3 daffListSubheader>List Subheader</h3>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
</daff-list>

<h4>Multi-line List</h4>

<daff-list type="multi-line">
  <daff-list-item>
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
  </daff-list-item>
  <daff-list-item>
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
  </daff-list-item>
  <daff-list-item>
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula lacinia tellus quis bibendum.</p>
  </daff-list-item>
</daff-list>

<h4>Icon List</h4>

<daff-list>
  <daff-list-item>
    <fa-icon [icon]="faTwitter" daffListItemIcon></fa-icon>
    <h4>Lorem ipsum</h4>
  </daff-list-item>
</daff-list>