<h1>Daff List</h1>

<h2>Simple List</h2>
<daff-list>
  <h3 daffListSubheader>Lorem Ipsum</h3>
  <daff-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</daff-list-item>
  <daff-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</daff-list-item>
  <daff-list-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</daff-list-item>
</daff-list>

<h3>List Types</h3>

<daff-nav-list>
  <daff-list-item>Nav List</daff-list-item>
  <daff-list-item>Nav List</daff-list-item>
  <daff-list-item>Nav List</daff-list-item>
</daff-nav-list>

<h4>Link List</h4>

<daff-list type="link">
  <h3 daffListSubheader>List Subheader</h3>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
  <daff-list-item><a href="#">List Item</a></daff-list-item>
</daff-list>

  <h4>Deprecation Notice</h4>
  <p>The <code>mode</code> property will be deprecated in v1.0.0.</p>
  <ul>
    <li><code>mode="navigation"</code> is replaced with <code>&lt;daff-nav-list&gt;</code>.</li>
    <li><code>mode="link"</code> is replaced with <code>&lt;daff-nav-list&gt;</code>.</li>
    <li><code>mode="multiline"</code> is completely deprecated. Multi-line lists will be a natural result of adding multiple lines to a <code>&lt;daff-list-item&gt;</code>.</li>
  </ul>
