@use 'utilities' as daff;

:host {
	display: block;
	max-width: 1340px;
	margin: 0 auto;
}

.daffio-doc-article {
	&__grid {
		padding: 24px;

		@include daff.breakpoint(small-laptop) {
			display: flex;
			justify-content: space-between;
			gap: 64px;
			padding: 48px;
		}

		@include daff.breakpoint(desktop) {
			padding: 48px 0;
		}
	}

	&__title {
		@include daff.headline-xl();
		margin-bottom: 48px;
	}

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__table-of-contents {
		display: none;

		@include daff.breakpoint(small-laptop) {
			display: block;
			max-width: 240px;
			width: 100%;
		}
	}

	&__menu-button {
		@include daff.clickable();
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: center;
		background: var(--daff-theme);
		border: 0;
		border-top: 1px solid rgb(var(--daff-theme-contrast-rgb), 0.1);
		border-bottom: 1px solid rgb(var(--daff-theme-contrast-rgb), 0.1);
		color: var(--daff-theme-contrast);
		overflow: auto;
		padding: 16px 24px;
		position: sticky;
		top: var(--daff-sidebar-side-fixed-top-shift);
		width: 100%;

		@include daff.breakpoint(big-tablet) {
			display: none;
		}
	}

	&__api-section {
		margin: 48px 0 0;
	}
}
