@use 'utilities' as daff;

:host {
	display: block;
}

.daffio-doc-article {
	&__grid {
		padding: 1.5rem;

		@include daff.breakpoint(small-laptop) {
			display: grid;
			grid-template-columns: 1fr 15rem;
			grid-gap: 4rem;
			padding: 3rem;
		}

		@include daff.breakpoint(desktop) {
			padding: 3rem 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&__table-of-contents {
		display: none;

		@include daff.breakpoint(small-laptop) {
			display: block;
		}
	}

	&__menu-button {
		@include daff.clickable();
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
		background: var(--daff-theme);
		border: 0;
		border-top: 1px solid rgb(var(--daff-theme-contrast-rgb), 0.1);
		border-bottom: 1px solid rgb(var(--daff-theme-contrast-rgb), 0.1);
		color: var(--daff-theme-contrast);
		overflow: auto;
		padding: 1rem 1.5rem;
		position: sticky;
		top: var(--daff-sidebar-side-fixed-top-shift);
		width: 100%;

		@include daff.breakpoint(big-tablet) {
			display: none;
		}
	}
}
