<h1>Accordion</h1>
<p>An accordion is a group of vertically stacked headings used to toggle the visibility of a section of content.</p>

<h2>Overview</h2>
<p>Accordions are made up of <code>&lt;daff-accordion-item&gt;</code>s that can be expanded or collapsed to display large amounts of information. Accordions are helpful to shorten pages and reduce scrolling by hiding content that's not crucial to display at all times.</p>

<h2>Supported Content Types</h2>
<p>An accordion item can include a <code>[daffAccordionItemTitle]</code>, which provides a high level overview of the content. Any other content within an accordion item will be displayed as the primary content.</p>

<p>By default, the accordion item includes a toggle icon at the end of the header to indicate if it's expanded or collapsed.</p>

<h3 id="setting-an-item-to-be-expanded-by-default">Setting an item to be expanded by default</h3>
<p>An item content can be visibile on render by setting the <code>initiallyExpanded</code> property to <code>true</code> on <code>&lt;daff-accordion-item&gt;</code>.</p>

<h2>Usage</h2>

<h3>Basic Accordion</h3>
<design-land-example-viewer-container example="basic-accordion"></design-land-example-viewer-container>
