<h1>Daff Accordion</h1>

<daff-accordion>
  <daff-accordion-item initiallyActive="true">
    <h3 daffAccordionItemTitle>Details</h3>
    <div daffAccordionItemContent>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo 
        lacus ut sapien consectetur, et ultricies leo rutrum. Integer iaculis ultrices nunc, 
        et maximus quam efficitur sed. Maecenas iaculis nisl neque, maximus sagittis libero sagittis eget.
        <a>Learn More.</a>
    </div>
  </daff-accordion-item>
  <daff-accordion-item>
    <h3 daffAccordionItemTitle>Details</h3>
    <div daffAccordionItemContent>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo 
        lacus ut sapien consectetur, et ultricies leo rutrum. Integer iaculis ultrices nunc, 
        et maximus quam efficitur sed. Maecenas iaculis nisl neque, maximus sagittis libero sagittis eget.
        <a>Learn More.</a>
    </div>
  </daff-accordion-item>
  <daff-accordion-item>
    <h3 daffAccordionItemTitle>Details</h3>
    <div daffAccordionItemContent>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo 
        lacus ut sapien consectetur, et ultricies leo rutrum. Integer iaculis ultrices nunc, 
        et maximus quam efficitur sed. Maecenas iaculis nisl neque, maximus sagittis libero sagittis eget.
        <a>Learn More.</a>
    </div>
  </daff-accordion-item>
</daff-accordion>