<daff-article>
	<h1 daffArticleTitle>Accordion</h1>

	<h3>Types</h3>
  <p><code>daff-accordion-item</code> - An accordion that typically holds content.</p>
  <p><code>daff-nav-accordion-item</code> — An accordion that is used for navigation whose content is nested daff-nav-accordion-items.</p>

	<h3>Content Accordion Item</h3>
	<design-land-example-viewer-container example="basic-accordion"></design-land-example-viewer-container>
	
	<h3>Navigation Accordion Item</h3>
	<design-land-example-viewer-container example="nav-accordion"></design-land-example-viewer-container>
</daff-article>
