@import 'daff-util';

:host {
  display: block;
}

.cart-totals-item {
  line-height: 1.75rem;

  &__label {
    & + span {
      float: right;
    }
  }

  &.emphasize {
    @include uppercase();
    @include embolden();
  }
}