@use 'utilities' as *;

:host {
	display: block;
}

.demo-cart-totals-item {
	line-height: 1.75rem;

	&__label {
		+ span {
			float: right;
		}
	}

	&.emphasize { /* stylelint-disable-line selector-class-pattern */
		font-weight: bold;
		text-transform: uppercase;
	}
}
