<daff-container size="md">
  <div class="demo-cart-view" cart-container #CartContainer="CartContainer">
    <demo-cart *ngIf="!(CartContainer.loading$ | async)" [cart]="CartContainer.cart$ | async" class="demo-cart-view__cart"></demo-cart>
    <daff-loading-icon *ngIf="CartContainer.loading$ | async"></daff-loading-icon>
  </div>
</daff-container>

<button (click)="removeFirstItem()">remove first item</button>
<button (click)="clearCart()">clear cart</button>
<button (click)="updateQty()">update qty on first item</button>
<button (click)="addToCart()">add to cart</button>
