@use 'sass:map';
@use 'theme' as *;

@mixin daffio-docs-table-of-contents-link-theme($theme) {
	$primary: daff-get-palette($theme, primary);

	.daffio-docs-table-of-contents-link {
		border-left: 0.125rem solid rgba(daff-color($primary), 0);

		&.active {
			border-left: 0.125rem solid daff-color($primary);
		}
	}
}
