@use 'sass:map';
@use 'theme' as *;

@mixin daffio-docs-table-of-contents-link-theme($theme) {
	$neutral: daff-get-palette($theme, neutral);
	$primary: daff-get-palette($theme, primary);
	$mode: daff-get-theme-mode($theme);

	.daffio-docs-table-of-contents-link {
		@include light($mode) {
			color: daff-color($neutral, 80);

			&:hover {
				color: daff-color($neutral, 90);
			}
		}

		@include dark($mode) {
			color: daff-color($neutral, 40);

			&:hover {
				color: daff-color($neutral, 30);
			}
		}

		&::before {
			background: rgba(daff-color($primary), 0);
		}

		&.active {
			&::before {
				background: daff-color($primary);
			}
		}
	}
}
