@use 'typography' as t;

// stylelint-disable selector-class-pattern
:host {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&.in-sidebar {
		.daffio-docs-table-of-contents-link {
			&::before {
				left: -1rem;
			}
		}
	}
}

.daffio-docs-table-of-contents-link {
	@include t.text-truncate();
	display: block;
	font-size: 1rem;
	line-height: 1.25rem;
	text-decoration: none;
	position: relative;
	padding: 0 0 0 0.5rem;
	margin: 0 0 0 -0.625rem;

	&.active {
		font-weight: 500;
	}

	&.level-1 {
		display: none;
	}

	&.level-3 {
		padding: 0 0 0 1.5rem;
	}

	&.level-4 {
		padding: 0 0 0 2.5rem;
	}
}
