@use 'utilities' as *;

.navbar {
  display: flex;
  justify-content: space-between;

  &__link {
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
