@import 'daff-util';

.shipping-options {
  font-size: $small-font-size;
  margin-top: 15px;

  &__title {
    font-size: 1rem;
    @include embolden();
  }

  &__radio {
    width: fit-content;
  }

  & input {
    margin: 0;
  }

  & label {
    margin-right: 0;
  }

  &__invalid {
    background-color: #a94442;
  }
}