@use 'utilities' as *;
@import 'theme';

.demo-checkout-shipping-options {
	border: 0;
	margin: 25px 0;
	padding: 0;

	&__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 15px;

		@include breakpoint(mobile) {
			flex-wrap: nowrap;
		}

		legend {
			font-weight: bold;
			font-size: 1rem;
			margin-right: 15px;
		}
	}

	&__invalid {
		font-size: $small-font-size;
		color: $error;
	}

	&__radio {
		margin: 0 0 5px;

		&:last-child {
			margin: 0;
		}

		input {
			margin: 0;
		}

		label {
			margin-left: 10px;
		}
	}
}
