<daffio-header>
  <a routerLink="/" daffio-logo>
    <daff-branding-logo type="full"></daff-branding-logo>
  </a>
  <a daffioHeaderItem routerLink="{{ link.path }}" *ngFor="let link of links">{{ link.title }}</a>
  <a daff-button color="theme-contrast" href="https://github.com/graycoreio/daffodil" rel="noopener noreferrer" target="_blank" quickstart-button>Get Started</a>
  <button daff-icon-button color="theme-contrast" aria-label="Open Main Navigation Sidebar"
    sidebar-button
    (click)="openSidebar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
</daffio-header>