<daffio-header>
  <a routerLink="/" daffio-logo>
    <daffio-logo type="full"></daffio-logo>
  </a>
  <div daffio-header-item *ngFor="let link of links">
    <a daff-link color="black" routerLink="{{ link.path }}">{{ link.title }}</a></div>
  <button type="button" daff-icon-button sidebar-button (click)="openSidebar()"><i class="fas fa-bars"></i></button>
  <a href="https://github.com/graycoreio/daffodil" target="_blank" type="button" daff-button color="black" quickstart-button>Get Started</a>
</daffio-header>