@use 'sass:map';
@use 'theme' as daff-theme;
@use 'utilities' as daff;

$primary: map.get(daff-theme.$theme, primary);
$secondary: map.get(daff-theme.$theme, secondary);
$tertiary: map.get(daff-theme.$theme, tertiary);
$base: daff-theme.daff-map-deep-get(daff-theme.$theme, 'core.base');
$base-contrast: daff-theme.daff-map-deep-get(daff-theme.$theme, 'core.base-contrast');

@mixin type-theming($color) {
	background: $color;
	color: daff-theme.daff-text-contrast($color);
}

@mixin type-label() {
	border-radius: 4px;
	font-family: daff.$monospace-font-family;
	font-size: 0.625rem;
	line-height: 0.875rem;
	box-sizing: border-box;
	text-transform: uppercase;

	&.class {
		@include type-theming(daff-theme.daff-color($primary));
	}

	&.type-alias {
		@include type-theming(daff-theme.daff-color($secondary));
	}

	&.interface {
		@include type-theming(daff-theme.daff-color($tertiary));
	}

	&.const {
		@include type-theming(daff-theme.daff-illuminate($base-contrast, $secondary, 3));
	}

	&.enum {
		@include type-theming(daff-theme.daff-illuminate($base-contrast, $primary, 3));
	}

	&.package {
		@include type-theming(daff-theme.daff-illuminate($base-contrast, daff-theme.$daff-yellow, 3));
	}

	&.function {
		@include type-theming(daff-theme.daff-illuminate($base-contrast, $tertiary, 3));
	}
}
