@use 'sass:map';
@use 'daffio-theme' as theme;
@use 'typography';

$primary: map.get(theme.$theme, primary);
$secondary: map.get(theme.$theme, secondary);
$tertiary: map.get(theme.$theme, tertiary);
$base: theme.daff-map-deep-get(theme.$theme, 'core.base');
$base-contrast: theme.daff-map-deep-get(theme.$theme, 'core.base-contrast');

@mixin type-theming($color) {
	background: $color;
	color: theme.daff-text-contrast($color);
}

@mixin type-label() {
	border-radius: 4px;
	font-family: typography.$monospace-font-family;
	font-size: 0.625rem;
	box-sizing: border-box;
	text-transform: uppercase;
	transition: background-color 300ms;

	&.class {
		@include type-theming(theme.daff-color($primary));
	}

	&.type-alias {
		@include type-theming(theme.daff-color($secondary));
	}

	&.interface {
		@include type-theming(theme.daff-color($tertiary));
	}

	&.const {
		@include type-theming(theme.daff-illuminate($base-contrast, $secondary, 3));
	}

	&.enum {
		@include type-theming(theme.daff-illuminate($base-contrast, $primary, 3));
	}

	&.package {
		@include type-theming(theme.daff-illuminate($base-contrast, theme.$daff-yellow, 3));
	}

	&.function {
		@include type-theming(theme.daff-illuminate($base-contrast, $tertiary, 3));
	}
}
