@import 'theme';

$primary: map-get($theme, primary);
$secondary: map-get($theme, secondary);
$tertiary: map-get($theme, tertiary);
$base: daff-map-deep-get($theme, 'core.base');
$base-contrast: daff-map-deep-get($theme, 'core.base-contrast');

@mixin type-label() {
	@include uppercase();
	border-radius: 4px;
	font-family: $monospace-font-family;
	font-size: 0.625rem;
	box-sizing: border-box;
	transition: background-color 300ms;

	&.class {
		background: daff-color($primary);
		color: daff-text-contrast(daff-color($primary));
	}

	&.type-alias {
		background: daff-color($secondary);
		color: $white;
	}

	&.interface {
		background: daff-color($tertiary);
		color: $white;
	}

	&.const {
		background: daff-illuminate($base-contrast, $secondary, 3);
		color: daff-text-contrast(daff-illuminate($base-contrast, $secondary, 3));
	}

	&.enum {
		background: daff-illuminate($base-contrast, $primary, 3);
		color: daff-text-contrast(daff-illuminate($base-contrast, $primary, 3));
	}

	&.package {
		background: daff-illuminate($base-contrast, $daff-yellow, 3);
		color: daff-text-contrast(daff-illuminate($base-contrast, $daff-yellow, 3));
	}

	&.function {
		background: daff-illuminate($base-contrast, $tertiary, 3);
		color: daff-text-contrast(daff-illuminate($base-contrast, $tertiary, 3));
	}
}
