@use 'utilities' as daff;

:host {
  --daff-sidebar-side-fixed-top-shift: 64px;
}

.design-land-sidebar-viewport {
  &__theme-switch {
    margin-left: auto;
  }

  &__content {
    padding: 24px;

    @include daff.breakpoint(mobile) {
      padding: 48px;
    }
  }

  &__sidebar {
    width: 288px;
  }

  &__get-started-button {
    display: block;
    font-weight: 500;
    padding: 16px;
    text-align: center;
    text-decoration: none;
  }
}
