@use 'sass:map';
@use 'theme' as daff-theme;

@mixin sidebar-viewport-theme($theme) {
	$neutral: daff-theme.daff-map-get($theme, 'core', 'neutral');
	$base: daff-theme.daff-map-get($theme, 'core', 'base');
	$base-contrast: daff-theme.daff-map-get($theme, 'core', 'base-contrast');
	$primary: daff-theme.daff-map-get($theme, primary);

	.design-land-sidebar-viewport {
		&__sidebar {
			border-right: 1px solid daff-theme.daff-illuminate($base, $neutral, 2);
		}

		&__get-started-button {
			background: daff-theme.daff-illuminate($base, $neutral, 1);

			&:hover {
				background: daff-theme.daff-illuminate($base, $neutral, 2);
			}
		}

		&__docs-tag {
			background: $base-contrast;
			color: $base;
		}
	}
}
