@use 'utilities' as daff;

:host {
  --daff-sidebar-side-fixed-top-shift: 64px;
  --daff-sidebar-left-width: 288px;
	--daff-sidebar-right-width: 288px;
}

.design-land-sidebar-viewport {
  &__theme-switch {
    margin-left: auto;
  }

  &__content {
    padding: 24px;

    @include daff.breakpoint(mobile) {
      padding: 48px;
    }
  }

  &__get-started-button {
    display: block;
    font-weight: 500;
    padding: 16px;
    text-align: center;
    text-decoration: none;
  }

  &__docs-logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    display: flex;
    align-items: center;
    max-width: 144px;
  }

  &__docs-tag {
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 4px;
    text-transform: uppercase;
  }
}
